[2012-08-03 11:31] JohannesLichtenberger opened #1 "Write ahead log directly to the data dir."
Creating a checkpoint and directly writing changes to the data-dir instead of a separate write ahead log.

Reapply transaction log after power failure.

[2012-08-03 11:32] JohannesLichtenberger opened #2 "Brackit(.org) binding."
Provide a brackit-binding for full XQuery/XQuery Update Facility support and integrate indexes into the query processor.

[2012-08-03 11:35] JohannesLichtenberger opened #3 "Provide indexes."
Providing revisioned indexes on the fly during update-operations.

[2012-08-12 21:55] JohannesLichtenberger opened #4 "Cluster nodes."
Cluster nodes during full dumps. However this is an open issue.

[2012-08-14 01:34] JohannesLichtenberger opened #5 "Link NodePages to previous versions"
Link NodePages to previous versions to skip the whole tree-traversal (even if based on bit shiftings) such that NodePage reconstruction should be faster.

[2012-08-16 15:37] JohannesLichtenberger opened #6 "TextValue/AttributeValue-indexes, Path-index"
Keep in mind that once the text-index has been included as well as the binding to Brackit, that we have to make sure that Path-index-updates are executed before Text-index updates.

[2012-08-20 19:00] JohannesLichtenberger opened #7 "Factor out indexes once they are working."
Provide listeners to build/update the indexes for update-operations.

[2012-08-21 01:11] JohannesLichtenberger opened #8 "Multiple write-transactions."
Provide synchronized multiple write-transactions via a LockManager.

[2012-08-21 01:14] JohannesLichtenberger opened #9 "Save DeweyIDs to guarantee very fast document order determination."
However space overhead.

[2012-08-21 01:15] #1 closed, assigned to JohannesLichtenberger

[2012-12-07 19:28] JohannesLichtenberger opened #10 "GUI"
- Introduce a presentation model, capturing all this ugly mutable state inside the GUIs.
- Code review.
- Fixing PApplet/PApplet issues (two or more processing views activated are not working as of now).
- Unit tests for the models with very simple basic trees.

[2012-12-07 20:06] JohannesLichtenberger opened #11 ""special" COW BPlusTree for index-structures"

[2013-01-28 19:58] JohannesLichtenberger opened #12 "Use a slotted page architecture"
However, it might be too complicated to implement, because of the versioning-approaches.

[2013-03-17 02:57] #5 closed, assigned to JohannesLichtenberger

[2013-03-17 02:58] #6 closed, assigned to JohannesLichtenberger

[2013-03-17 02:58] #2 closed, assigned to JohannesLichtenberger

[2013-03-17 02:59] #9 closed, assigned to JohannesLichtenberger

[2013-06-15 12:30] #12 closed, assigned to nobody

[2013-09-09 15:43] JohannesLichtenberger opened #17 "Factor out the Guava caches for reading into the session."
Thus, use the same cache for different reading transactions, which are opened on the same revision.

[2014-01-23 09:38] Snoop opened #18 "Node.js GUI"
Hi!

I want to build a node.js Application for selecting a json XPATH by a Drag&Drop / Selecting-Elements GUI like the SunburstView. Is there a way to implement this in node / javascript ? It looks really great and would be pure intuitiv to change matching XPATH Elements.

Kind regards!

[2014-04-15 11:37] bark opened #19 "unresolved dependencies on maven com.sleepycat#je;5.0.97"
If you add
"com.github.sirixdb.sirix" % "sirix-core" % "0.1.2-SNAPSHOT"
and adding maven reppository
"sirixDb" at "https://oss.sonatype.org/content/repositories/snapshots/"
Then you get unresolved dependencies error on
com.sleepycat#je;5.0.97: not found
And on maven webpage i can only find the following versions:
5.0.73
4.0.92
4.1.7
For com.sleepycat je.

[2014-04-18 23:01] #7 closed, assigned to nobody

[2014-04-18 23:01] #3 closed, assigned to JohannesLichtenberger

[2014-04-18 23:35] #18 closed, assigned to nobody

[2014-04-18 23:37] #4 closed, assigned to nobody

[2014-04-21 13:29] bark opened #21 "GUI errors"
I have try to build the GUI and i get started the project but as soon as i choose to open resource and select a folder, it is crashing. Same happens when opening an XML document to shredder.
And i don't know really how to use the program as some documentation is kind of needed. I kind of want to visualize the database in some way. Can you give me some pointers?

[2014-04-23 11:31] bark opened #22 "java/util/Optional"
When i update the library today i get the error and i cant realy find what ypu have updated for me to get this error:
java.lang.NoSuchMethodError: org.sirix.node.interfaces.immutable.ImmutableNode.getDeweyID()Ljava/util/Optional;
    at org.sirix.xquery.node.DBNode.<init>(DBNode.java:105)
    at org.sirix.xquery.node.SubtreeBuilder.startElement(SubtreeBuilder.java:195)
    at org.brackit.xquery.no

[2014-04-23 12:23] #19 closed, assigned to nobody

[2014-04-24 14:24] #22 closed, assigned to nobody

[2014-05-05 13:23] bark opened #23 "Eventually got an error: java.lang.IllegalStateException: Failed to move to nodeKey: X"
XML in:
`<log tstamp="Sun May 04 23:29:47 CEST 2014" severity="high" foo="bar">
  <src>192.168.0.1</src>
  <content>
    <a>
      <a>init file</a>
    </a>
  </content>
</log>`

Query:
`replace node doc('mydocs.col')/log/content with <a><div>hej</div></a>`
correct result:
`<log tstamp="Sun May 04 23:29:47 CEST 2014" severity="high" foo="bar">
  <src>192.168.0.1</src>
  <a>
    <div>hej</div>
  </

[2014-05-06 06:53] #23 closed, assigned to nobody

[2014-05-06 06:56] #21 closed, assigned to nobody

[2014-05-06 09:20] batista opened #27 "Moving a subtree inside its sibling fails with mention to DeletedNode."
I'm trying to move a subtree inside its sibling and am not succeeding.
##### my input xml:

[code]
##### what I intend as output xml:

[code]
##### function I am calling to achieve this:

[code]
##### relevant calling code

[code]
##### error output

[code]

Any help with this would be much appreciated :smiley:

PS: Some context on your users: I'm working in the same project with @bark, we're doin

[2014-05-06 15:52] bark opened #28 "Xquery replace followed by insert gives unexpected result"
I want to do a replace and after a insert query and getting wrong result.
Code:

[code]

running query:doc('mydocs.col')/log/all-time::*

[code]

Expected is that the last one

[code]

If we use two insert it works. or if I use a new store, it also works.

[2014-05-06 16:01] bark opened #29 "Features in a nutshell not clear."
Features in a nutshell

By reading the first part, "Import of differences between two XML-documents", one assumes that one can import a 'patch file' and apply it to the existing version in the repository.

But on the second part, one gets the idea that adding a second xml file, sirix generates the 'patch' inside and applies the differences.

It would be quite nice to have the first one, is there a

[2014-05-18 12:34] #28 closed, assigned to nobody

[2014-05-18 12:35] #27 closed, assigned to nobody

[2014-05-23 15:40] batista opened #30 "SirixUsageException when using FMSEImport"
We're getting a SirixUsageException when trying to use the FMSEImport.

`SirixUsageException: Resource could not be opened (since it was not created?) at location /.../sirix-data/mydocs.col/resources/shredded`

We have an initial commit with:

[code]

And we're importing another file with:

[code]

Using the following code:

[code]

The stack trace:

[code]

We are a bit out of ideas of why it isn

[2014-05-26 14:36] #30 closed, assigned to nobody

[2014-05-26 14:56] batista opened #31 "How to reset the database in between XQuery queries"
We have been reseting the database when using the low-level API with the following snippet:

[code]

We want to be able to do the same in between XQuery queries, but we seem to be failing miserably in that.
We can't use the previous code because after removing and recreation, we get a
`SirixIOException: org.sirix.exception.SirixIOException: java.io.EOFException`
when running any query after the re

[2014-05-27 09:27] #31 closed, assigned to nobody

[2014-06-04 12:35] bark opened #32 "rtx.getType() return wrong thing."
Code:
rtx.moveTo(diffTuple.getNewNodeKey());
System.out.println("Is element: " +rtx.isElement());
System.out.println("Is attr: " +rtx.isAttribute());
System.out.println("Is text: " +rtx.isText());
System.out.println("type: "+rtx.getType());

Output:
Element in:
Is element: true
Is attr: false
Is text: false
type: xs:untyped

Expected:
type: xs:element

Attribute in:
Is element: false
Is attr: true

[2014-06-05 08:08] #32 closed, assigned to nobody

[2014-06-05 08:44] bark opened #33 "Insert attribute in element"
I am not sure i use the correct syntax.
XML before in mydocs.col:
<a />
Running query:
insert node attribute { 'a' } { 5 } into doc('mydocs.col')/a
Is this wrong syntax or is this not implemented?

Running
insert node attribute <b/> into doc('mydocs.col')/a
Works.

The first one i get the error:
[error] play - Cannot invoke the action, eventually got an error: java.lang.ClassCastException: org.sir

[2014-06-06 08:20] #33 closed, assigned to nobody

[2014-08-27 14:27] bark opened #35 "ENTITY dont work"
XML file:
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!DOCTYPE section [
<!ENTITY nbsp "asd">
]>
<section>
  <para>Create a volume with 8&nbsp;GB of space, and specify the availability zone and image:</para>
</section>

Giving error:
Caused by: javax.xml.stream.XMLStreamException: ParseError at [row,col]:[1,142]
Message: The entity "nbsp" was referenced, but not declared.
    at com.s

[2014-08-29 14:57] #35 closed, assigned to nobody

[2017-02-26 12:11] swethakaukuntla opened #36 "Error: import org.exist.xmldb.XQueryService cannot be resolved. I have added exist-xmldb-0.9.2 jar but still unable to resolve"
I have imported a project related to xbrl api with oracle berkely db, it has import org.exist.xmldb.XQueryService; but dependency is missing. What is the maven dependency I need to add to resolve this?

[2018-03-25 20:11] #29 closed

[2018-03-25 20:12] #17 closed

[2018-03-25 20:12] #36 closed

[2018-03-25 20:16] JohannesLichtenberger opened #38 "Refactoring of page references"
Use the idea of a bitmap to mark which entries in an array are null/not null. See array mapped tries in closure for instance.

[2018-03-31 16:33] #38 closed

[2018-03-31 16:42] JohannesLichtenberger opened #39 "JSON"
Implementing two node types, JSONArray and JSONObject. Implementing a JSONReadTrx and a JSONReadWriteTrx on top of the page reader/writer transactions just as in the XML case. We also need a second resource manager as well as methods in the database implementation to create a resource and open a resource manager.

[2018-03-31 16:54] JohannesLichtenberger opened #40 "Transaction over many resource transactions"
Finishing the work. For instance fix truncate to just committed revision - 1. Add a resource lock manager to lock the  just created revision until all resource transactions have been committed, to prevent dirty reads. Add a method to explicitly retry failed transactions.

[2018-03-31 16:57] JohannesLichtenberger opened #41 "APIs based on Vert.x and Kotlin"
For instance a new RESTful API.

[2018-03-31 17:03] JohannesLichtenberger opened #42 "Adding Git transactions for instance as an after commit hook"
Thus it would be easy to integrate Git versioning at the file/resource level with EGit for instance.

[2018-04-02 13:00] #8 closed

[2018-04-02 15:48] JohannesLichtenberger opened #43 "User management / Encryption"
Maybe using Apache Shiro!?

[2018-12-08 19:23] #41 closed, assigned to nobody

[2018-12-26 20:25] JohannesLichtenberger opened #45 "JSON node layer"
Each node has a unique 64bit identifyer (long).

- Object node, consisting of record-nodes (simple name/value)-pairs. The value itself must be a another node, referenced by a long.
- Array-node, consitsing of arrayItem-nodes, consisting of any type of nodes (long-values). We can simply store pointers to the right sibling for each arrayItem-node.
- Null-node.
- Boolean-node.
- String-node.
- Number

[2018-12-26 20:30] JohannesLichtenberger opened #46 "JSON transaction layer."
Either we use the XdmNodeRead / Write transactions or we provide a simple means to insert.

- empty objects.
- object-records.
- empty arrays.
- array-items (with an index).
- null-nodes.
- boolean-nodes.
- string/number-nodes.

We also should be able to delete those in the same way.

[2018-12-26 20:31] JohannesLichtenberger opened #47 "JSON-resource manager"
More or less the same as the XdmResourceManager, to start/end transactions on a JSON-resource.

[2018-12-27 13:00] JohannesLichtenberger opened #48 "Fixing the docker image"
Issue is:

docker run -t -i -p 9443:9443 sirixdb/sirix
io.netty.channel.AbstractChannel$AnnotatedConnectException: Connection refused: localhost/127.0.0.1:8080
        at java.base/sun.nio.ch.SocketChannelImpl.checkConnect(Native Method)
        at java.base/sun.nio.ch.SocketChannelImpl.finishConnect(SocketChannelImpl.java:717)
        at io.netty.channel.socket.nio.NioSocketChannel.doFinishConnec

[2018-12-27 16:36] JohannesLichtenberger commented on #48
The verticle wants to communicate with Keycloak on port 8080, but Keycloak is running within another docker container for instance.

[2018-12-27 19:34] JohannesLichtenberger commented on #48
Seems to be Windows related, the --network=host option maybe because of the additional VM doesn't seem to work, same exception with `docker run -t -i -p 9443:9443 sirixdb/sirix`

[2018-12-27 22:27] JohannesLichtenberger opened #49 "Adding optional request parameter "prettyPrint=true/false""
For the RESTful-API it would be useful to have a prettyPrint=true/false parameter, if the XML-content
HTTP-response body should be pretty printed or not.

[2018-12-27 23:36] JohannesLichtenberger opened #50 "Docker setup / Fix README"
- pull the image from Docker Hub
- create a docker container
- update the container with an adapted sirix-conf.json file (client.secret value for Keycloak auth must be set and maybe the listening port for the HTTP(S) verticle
- start the docker container

Make it work, I'm by no means sadly no docker guru.. and fix the README section accordingly.

[2018-12-27 23:38] JohannesLichtenberger opened #51 "Docker compose"
As the RESTful-API and thus the docker container is needing a started Keycloak instance, we could provide a Docker Compose file.

[2018-12-27 23:42] JohannesLichtenberger commented on #39
Splitter this monster...

[2018-12-27 23:42] #39 closed

[2018-12-27 23:43] #11 closed

[2018-12-29 00:00] JohannesLichtenberger opened #52 "Creating RESTful-API documentation with Swagger"
I don't think we can generate it, but maybe "by hand".

[2018-12-29 09:43] JohannesLichtenberger opened #53 "Revision the database itself, not only the resources"
Idea is simply to create a metadata Sirix resource which stores the names of the resources and their current revision and if they are marked as deleted.

This depends on the database transaction issue, which needs to be finished first.

[2018-12-29 09:50] JohannesLichtenberger opened #54 "Static number of indirect pages should be dynamic"
During insertion we have to check if a node exceeds the maximum number of nodes, which can be stored in the record pages and add an indirect page if the node to insert has ID max-number-of-nodes-storable+1. We then have to keep track how many levels we have. But this will improve performance considerably.

[2018-12-29 09:54] JohannesLichtenberger opened #55 "Encryption of the page-fragments"
I wanted to use Google Tinke, but something is way off the rails, because it says that I'm using a different key for encrypting/decrypting.

Caused by: java.io.IOException: No matching key found for the ciphertext in the stream.
	at com.google.crypto.tink.streamingaead.InputStreamDecrypter.read(InputStreamDecrypter.java:187)
	at com.google.crypto.tink.streamingaead.InputStreamDecrypter.read(InputS

[2018-12-29 10:46] JohannesLichtenberger opened #56 "RESTful API enhancement, storing resources from multipart requests"
This would allow to store a bunch of resources at once.

[2018-12-29 10:49] JohannesLichtenberger opened #57 "Setup the integration tests on Travis for the RESTful API"
Somehow travis doesn't execute the JUnit5 integration tests. That said first of all a docker container with Keycloak and a custom imported realm with roles, the client secret... would have to be set up.

[2018-12-29 10:57] JohannesLichtenberger opened #58 "Refactoring the XdmNodeReadTrx"
Use the command pattern, basically a factory which creates several commands internally, such that more or less the content of each method is encapsulated in a seperate class, so we can finally write simple unit tests (multiple small classes way better than this monster class).

[2018-12-29 12:39] Loki-Afro opened #59 "update to java 11"
consider updating  to java 11

java 9 is EOL ... :)

[2018-12-29 12:52] JohannesLichtenberger commented on #59
Thank you, yes will do :-)

[2018-12-29 14:56] JohannesLichtenberger commented on #59
Just checked, locally it's running with an updated Mockito, however somehow Travis doesn't build. Maybe it's an issue related to transitive dependencies where Mockito is used somewhere else as a dependency (and it's older) and the order of execution is different on my machine, hm.

[2018-12-29 16:50] JohannesLichtenberger commented on #59
Changed to Java 11 / OpenJDK 11, thanks :-)

[2018-12-29 16:50] #59 closed

[2018-12-29 18:02] JohannesLichtenberger opened #60 "Create Java9 and above module-infos."
In order to use Jigsaw/the module system, we should write module definition files.

[2018-12-29 23:30] apavlo opened #61 "Correct Name + SVG Logo?"
I've added your new system to my encyclopedia of databases:

https://dbdb.io/db/sirix

Two questions:

1. Is the official name of the database `Sirix` or `SirixDB`? The Github repo uses both.

2.  Is there an SVG logo available?

-- Andy

[2018-12-29 23:36] JohannesLichtenberger commented on #61
Hey, thanks so much. The name is SirixDB :-)

Oh and the core and everything is written in Java, the RESTful API is written in Kotlin.

Yes, I have an SVG logo

[2018-12-29 23:47] apavlo commented on #61
Fixed. Thanks!

https://dbdb.io/db/sirixdb

[2018-12-29 23:47] #61 closed

[2018-12-29 23:49] JohannesLichtenberger commented on #61
The SVG-logo: https://raw.githubusercontent.com/sirixdb/sirix/master/SVGlogo.svg

[2018-12-30 13:59] JohannesLichtenberger opened #62 "Cleanup POMs in bundles/modules, referencing just the parent-version"
Otherwise as in our case versions differ easily.

[2018-12-30 14:05] #62 closed

[2018-12-30 14:24] JohannesLichtenberger opened #63 "Kotlin based wrapper APIs"
Therefore we also could create a nice DSL.

But in essence a basic version for the XdmNode-Transaction layer for instance would involve infix functions
`trx moveTo 3` and alike, removing builders, just use default parameters...

However, I'd love to discuss this with Kotlin experts :-)

[2019-01-02 12:36] JohannesLichtenberger commented on #56
Done

[2019-01-02 12:36] #56 closed

[2019-01-02 12:38] JohannesLichtenberger opened #64 "Large files to create resources / do not serialize the content"
Do not serialize the content if large files are going to be sent.

[2019-01-04 09:42] janprill opened #65 "Question: Multiple xml documents"
Just a question:

I'm a noob, so bear with me iff the answer is obvious: But I wonder if there is a way to query the database for results from n xml files via a single query. In other words: is this a database providing sophisticated search possibilities over a single document or multiple documents?

[2019-01-04 10:02] JohannesLichtenberger commented on #65
Hey, it's possible with the XQuery function `fn:collection()`. In the RESTful API currently you'd have to POST your query to the "/" endpoint, without specifying the database and resource. Then specify the database to open in fn:collection('database').

For instance have a look at https://en.wikibooks.org/wiki/XQuery/Searching_multiple_collections

[2019-01-04 14:57] JohannesLichtenberger commented on #65
Hope it helps :-)

[2019-01-05 19:54] janprill commented on #65
Thanks Johannes!

[2019-01-05 20:25] JohannesLichtenberger opened #66 "Database-wide versioning"
Should be straight forward using a metadata resource to keep track of the resource names and their revisions during a database-wide transaction commit.

[2019-01-10 22:07] #65 closed

[2019-01-14 13:16] #45 closed

[2019-01-15 21:55] JohannesLichtenberger opened #67 "JSON Shredder / Importer"
Similar to the XMLShredder we need a JSONShredder to import JSON data.

[2019-01-15 21:56] JohannesLichtenberger opened #68 "JSONSerializer"
Similar to the XMLSerializer we need a JSONSerializer.

[2019-01-15 22:02] JohannesLichtenberger opened #69 "Add field to the ResourceConfiguration"
ResourceConfiguration / add enum plus serialization of the type of resource (currently XML and very soon JSON).

[2019-01-23 19:49] JohannesLichtenberger opened #70 "Path-Indexes for JSON"
Adding path indexes for JSON.

[2019-01-23 19:49] JohannesLichtenberger opened #71 "Name-Indexes for JSON"
Adding name indexes for JSON.

[2019-01-23 19:50] JohannesLichtenberger opened #72 "CAS-Indexes for JSON"
Adding CAS-Indexes for JSON.

[2019-02-07 15:22] #67 closed

[2019-02-07 15:22] #68 closed

[2019-04-29 16:24] JohannesLichtenberger opened #73 ""Pointer swizzling" to compete with pure in-memory database systems"
Simple idea: Use the setPage(Page), getPage() methods in the page references. Furthermore add a child to parent reference cache. Whenever a page is evicted from the buffer manager use the additional lightweight cache/map to find its parent reference and set the page to null such that the memory is freed.

[2019-05-06 12:18] felixrabe opened #75 "BSD is not public domain"
### Expected behavior

### Actual behavior

### Steps or ideally a minimal Java class to reproduce the behavior

[2019-05-06 12:19] felixrabe commented on #75
Sorry, mobile git hub is horrible, might reopen again later.

[2019-05-06 12:19] #75 closed

[2019-05-08 20:08] JohannesLichtenberger opened #77 "Create native images with the GraalVM"
For a fast startup time in containers... peek performance however might not be as good.

[2019-06-14 14:09] canadaduane opened #78 "Example of JSON document modification, retrieval"
Are there any examples of JSON document storage, modification & retrieval? The README covers XML documents well.

[2019-06-14 23:21] JohannesLichtenberger commented on #78
Does this help?

https://sirix.io/documentation.html#api-documentation

[2019-06-15 00:40] JohannesLichtenberger commented on #78
Or probably

https://hackernoon.com/asynchronous-temporal-rest-with-vert-x-keycloak-and-kotlin-coroutines-217b25756314?source=friends_link&sk=5eabb36b2984cf61a2dff3f9fe45addc

You could also ask in the community forum: https://sirix.discourse.group/

[2019-06-15 03:56] canadaduane commented on #78
This is a good start, thank you!

On Fri, Jun 14, 2019 at 6:40 PM Johannes Lichtenberger <
notifications@github.com> wrote:

[2019-06-15 07:01] JohannesLichtenberger commented on #78
Feel free to ask anything, but maybe preferrably in the forum :-)

[2019-07-08 12:39] #78 closed

[2019-09-03 20:46] #73 closed

[2019-09-05 20:40] JohannesLichtenberger commented on #53
Duplicate

[2019-09-05 20:40] #53 closed

[2019-09-25 18:20] b0n541 commented on #60
I would like to take this for Hacktoberfest.

[2019-09-25 19:01] JohannesLichtenberger commented on #60
Hey, wow :-) thanks so much. Yes, and probably sirix-fs. I'm not sure if I need to move some stuff around, but I think for the core we need to export the org.sirix.api, org.sirix.access and org.sirix.service packed + subpackages. I have to read about it again, but I think I need to move some classes around which should not be part of the public API.

Thanks so much again in advance :-)

[2019-09-25 19:32] JohannesLichtenberger opened #79 "Vue.js initial project for a web frontend"
Create an initial project.

[2019-09-25 20:05] JohannesLichtenberger opened #80 "Tree-View in Vue.js to display a resource and to modify it"
Adding a tree-component in order to view the first N nodes on each level in a revision of a resource. Similar to the explorer view in an operating system.

For this we need to work with the REST-API.

[2019-09-25 20:20] JohannesLichtenberger commented on #80
For instance for JSON resources:

https://github.com/tylerkrupicka/vue-json-component

[2019-09-26 16:00] sushant-j commented on #80
Hey @JohannesLichtenberger ,
I'd be interested to take a stab at this issue. But should I wait till HacktoberFest actually starts or get cracking? ;)

[2019-09-26 16:03] RushikeshSawant commented on #64
Hi, I would like to work on this for Hacktoberfest. Can you please assign it to me?

[2019-09-26 18:29] JohannesLichtenberger commented on #80
Haha, cool. I have no idea if it counts!? I've just created a local Vue.js project yesterday and worked on a tutorial, but nothing committed to Git.

So basically you could start completely from scratch if you like to? If you like to you can start with simple JSON and XML dummy data or you can try setting up the HTTP SirixDB server together with Keycloak for authentication (https://sirix.io/rest-a

[2019-09-26 18:30] JohannesLichtenberger commented on #64
Thank you so much :-)

[2019-09-26 18:32] JohannesLichtenberger commented on #80
Oh, and probably if you like to I would prefer TypeScript to JavaScript, but yeah ;-)

[2019-09-26 18:42] JohannesLichtenberger commented on #80
BTW: I could assign you the other issue with creating an initial Vue.js project, if you still like to? I feel a bit sorry that we start from a green field here, but at least we can use, the latest, greatest stuff from the front-end world then ;-)

[2019-09-26 18:51] sushant-j commented on #80
Sounds great. I've been aching to try Vue with Typescript on a real project for some time now, as at work I'm using Vue with JS for the last couple of years.

And sure, you can assign me those other issues too.  I'm a bit swamped today (Friday), but I'll get started with initial project setup over the weekend!

[2019-09-26 19:03] JohannesLichtenberger commented on #80
Ah, that's super amazing. At work we are stuck with ehem Velocity, JQuery and XSLT transformations, but they switched to TypeScript some time ago at least on the front-end side (I'm a backend guy, but would like to learn frontend stuff, too now). At least in a smaller project they started to use React now.

I've been following a Vue.js tutorial today and copy & pasted some code, it was really grea

[2019-09-26 19:05] JohannesLichtenberger commented on #80
This issue, somehow I can't assign you:

https://github.com/sirixdb/sirix/issues/79

[2019-09-26 19:37] JohannesLichtenberger opened #81 "Multi File Upload component for Vue.js to create an initial JSON or XML database"

[2019-09-26 19:41] JohannesLichtenberger opened #82 "Sunburst view to view and explore a large XML or JSON resource"
Interactive visualization in D3js for our upcoming Vue.js front-end.

We should be able select a node, make a new HTTP request to a SirixDB server and use this node as the new root node, to drill down into the visualization. The number of descendants should define how big an item should be displayed.

[2019-09-26 19:45] JohannesLichtenberger opened #83 "Table component in Vue.js to display revision history metadata"
For instance to display the author, the ID of the author, the revision number, a revision timestamp and an optional commit comment in each row.

[2019-09-26 19:47] JohannesLichtenberger opened #84 "Side by side comparison of two revisions in an XML or JSON resource"
Showing the diffs for instance...

[2019-09-26 19:50] JohannesLichtenberger opened #85 "New logo and/or Logo for the Forum"
We are missing a logo in the size 64×64 for the Forum, such that we have a start logo for Android mobile phones...

[2019-09-26 19:56] JohannesLichtenberger opened #86 "Fixing and enhancing documentation"
Fixing typos and/or grammar, mark unclear sections.

Maybe if you try out SirixDB you could even add a sentence, a section or even write a tutorial or a blog post if yoh like it :-)

[2019-09-26 19:59] JohannesLichtenberger opened #87 "Playing with the APIs"
Checking what makes and makes no sense... finalize APIs.

[2019-09-26 20:02] JohannesLichtenberger opened #88 "Looking into Brackit, the Query compiler"
Looking into Brackit, the Query compiler and figuring out how to add rewrite rules for index accesses, apply storage based optimizations in general...

[2019-09-26 21:29] JohannesLichtenberger opened #89 "Horizontal scaling: Extract interfaces, add abstract classes..."
### Feature idea

In order to write the in-memory transaction log to an Apache Bookkeeper log we need to abstract away a few things in order to be able to switch between local and distributed databases.

[2019-09-27 06:49] JohannesLichtenberger opened #90 "Create a favicon"

[2019-09-27 09:48] sushant-j commented on #80
I'll submit a PR referring #79 when I start on the project on Saturday, let's see if that somehow allows assigning the issue to me.

As for creating the tree-view, I have used [jstree](https://github.com/vakata/jstree) in the past, but it depended on jQuery. I'll think on a better way for it.

[2019-09-27 10:02] JohannesLichtenberger commented on #80
Maybe https://vuejs.org/v2/examples/tree-view.html?

Or the standard tree-component from Vue.js:    https://vuejs.org/v2/examples/tree-view.html

However we'd somehow need to add additional nodes to the JSON-structure.

Or this can simply use the JSON-tree structure itself (which is more of what I thought):
https://vuejsexamples.com/component-for-rendering-a-tree-view-of-json/

However even though

[2019-09-27 10:03] JohannesLichtenberger commented on #80
"you could make a PR already" ... I mean on saturday or sunday or whenever you feel like :-) I won't have much time until saturday evening I guess

[2019-09-27 11:20] JohannesLichtenberger opened #91 "Convert the xquery bundle to Kotlin"
As it has not too many classes we can try to convert the project into a Kotlin bundle, as I really like my first few steps with Kotlin, especially with Coroutines...

[2019-09-27 11:54] JohannesLichtenberger opened #92 "REST-API built with Kotlin and Vert.x"
A code review of one or more classes would be great, as I want to write idiomatic Kotlin code. Furthermore, I'm sure we can abstract some stuff between the CRUD-classes regarding XML and JSON resources, as they are really similar.

[2019-09-27 12:40] JohannesLichtenberger opened #93 "Testing and report bugs"
Hey, as actually we are missing real users, we need testing and finding bugs :-)

[2019-09-27 13:36] JohannesLichtenberger opened #94 "Provide an XQuery function to store other functions through the REST API"
We need a directory in a database to store precompiled XQuery-functions as well as a route or an XQuery function to store and another one to read these files:

Inspiration:

https://github.com/sirixdb/brackitas/blob/master/src/main/java/org/brackit/as/context/BaseAppContext.java

[2019-09-27 13:51] JohannesLichtenberger opened #95 "Spread the word :-)"
As I'm the only maintainer of SirixDB I could get some help, spreading the word, as I'm pretty confident that it's a great system :-)

[2019-09-27 14:03] JohannesLichtenberger commented on #80
Oh and what do you think about using Nuxt.js for starting the whole project? :-)

[2019-09-27 14:17] JohannesLichtenberger opened #96 "OAuth2 auhtorization code flow for web applications"
Provide a configurable mechanism to switch between the authorization methods and implement the authorization code flow in SirixVerticle in the REST API.

[2019-09-28 08:56] JohannesLichtenberger opened #98 "Websockets to stream resource changes into the client / browser"
I'd put this into the rest-api module and build it with Vert.x and Kotlin.

[2019-09-28 12:10] #79 closed

[2019-09-28 12:11] JohannesLichtenberger commented on #80
Okay, just created our repository with a project created by vue-cli :-)

https://github.com/sirixdb/sirix-web-frontend

[2019-09-28 12:12] JohannesLichtenberger commented on #84
Repository: https://github.com/sirixdb/sirix-web-frontend

[2019-09-28 12:12] JohannesLichtenberger commented on #83
Repository: https://github.com/sirixdb/sirix-web-frontend

[2019-09-28 12:13] JohannesLichtenberger commented on #82
Repository: https://github.com/sirixdb/sirix-web-frontend

[2019-09-28 12:13] JohannesLichtenberger commented on #81
Repository: https://github.com/sirixdb/sirix-web-frontend

[2019-09-28 23:32] anmonteiro opened #100 "Starting a rest-api service that fails to connect to keycloak exits with status code 0"
<details>
<summary>Full Stack Trace</summary>

[code]

</details>

If the rest-api service fails to start due to keycloak not being available, it still exits with status code 0.

Expected behavior is a different status code.

I'm running into this while trying to wait for keycloak to be serving requests before starting up the web instance in docker-compose.

[2019-09-29 06:29] JohannesLichtenberger commented on #100
Thanks, I might not have time to fix this today, but hopefully tomorrow evening

[2019-09-29 07:58] JohannesLichtenberger commented on #100
And sorry that you're running in some troubles... hope you're still eager to try it :-)

[2019-09-29 18:15] themayurkumbhar commented on #90
Hi @JohannesLichtenberger
What kind of favicon you are looking for?

[2019-09-30 08:47] kmjayadeep commented on #51
Can I take this up?

[2019-09-30 08:52] JohannesLichtenberger commented on #51
Sure, thank you :-)

Maybe you can talk to @anmonteiro, he found an issue (I think he might have added Keycloak already, but I'm not sure :)):
https://github.com/sirixdb/sirix/issues/100

[2019-09-30 16:38] sushant-j commented on #80
Hey Johannes,

I'd started playing around with the project over the weekend, and am ready to get started with the actual coding part now! Just a few questions before I do:
1. What way would you recommend for setting up a sample DB with some data? And will the front-end be interacting with the DB using the REST APIs?
2. For the front-end itself, I see you've added some basic stuff, including vue-ro

[2019-09-30 17:32] JohannesLichtenberger commented on #80
Hi, wow, very cool :-)

1. I could give you a two sample DBs, one for XML and one for JSON. Hmmm, however or do you know of a collection of JSON files (maybe not too big to begin with and/or XML files), which I could use? I think via the GUI we should provide an upload mechanism. I maybe have to change something of the RESTful HTTP-Server though. I'm not sure if uploading huge files via HTTP is th

[2019-09-30 18:22] JohannesLichtenberger commented on #80
BTW: Someone recommended this: https://github.com/PanJiaChen/vue-element-admin

[2019-09-30 19:39] JohannesLichtenberger commented on #100
Hmm, BTW: What do you mean with the status code? The HTTP response error status code?

[2019-09-30 19:44] JohannesLichtenberger opened #101 "Landing page / make more beautiful"
I think the landing page of https://sirix.io could get some love:

https://github.com/sirixdb/sirixdb.github.io/blob/master/index.html

[2019-09-30 19:46] JohannesLichtenberger commented on #90
Hey, good question, but I don't really like the SirixDB logo, so I guess it's totally up to you... But for https://sirix.io :-)

[2019-09-30 19:50] JohannesLichtenberger commented on #80
Oh and on a side note, I just saw this, so inspiring: https://twitter.com/i/moments/994601867987619840

[2019-09-30 19:54] anmonteiro commented on #100
Oh I meant exit code for the program. I must have been in a rush when I wrote this.

[2019-09-30 20:05] JohannesLichtenberger commented on #100
Oh, okay, but I'm just using the Launcher:

https://github.com/sirixdb/sirix/blob/master/bundles/sirix-rest-api/src/main/kotlin/org/sirix/rest/Main.kt

Hmm, don't know how to change the exit code

[2019-09-30 20:06] anmonteiro commented on #100
Feels like this should help https://github.com/eclipse-vertx/vert.x/issues/1401

[2019-09-30 20:37] JohannesLichtenberger commented on #100
The Launcher should even be called directly from the fat jar:

[code]
Maybe it's using the run-command:

[code]
and this is calling

[code]

But I think in Kotlin it should probably be https://kotlinlang.org/api/latest/jvm/stdlib/kotlin.system/exit-process.html

Not sure if I did something wrong or if it's a Vert.x Kotlin issue.

[2019-09-30 20:56] JohannesLichtenberger commented on #100
But `System.exit(int)` should work I think.

[2019-10-01 01:01] FultonBrowne commented on #95
Will do!

[2019-10-01 10:32] pareshjoshi commented on #83
@JohannesLichtenberger  how does this differ from the default layout that it has currently?

[2019-10-01 11:07] JohannesLichtenberger commented on #83
Ah, yes... it's the starting point I guess :-)

[2019-10-02 12:53] #90 closed

[2019-10-02 12:55] JohannesLichtenberger commented on #80
Let me know if you need more information :-)

[2019-10-02 13:12] JohannesLichtenberger commented on #90
Hey @karmakaze, would it be possible to get a red version? :-)

[2019-10-02 13:18] JohannesLichtenberger commented on #100
Oh BTW: Let's me know if you run into other bugs (if you still give it a try) :-)

[2019-10-02 14:37] karmakaze commented on #90
Absolutely. might also try out styling a bit more too.

[2019-10-03 01:06] JohannesLichtenberger commented on #90
Cool :-) thanks so much

[2019-10-03 01:25] JohannesLichtenberger commented on #85
Thanks a lot, the new red favicon is now live on https://sirix.io :-)

[2019-10-03 09:01] kmjayadeep commented on #48
Related to  #51. I cannot proceed with that unless docker file itself is fixed. So I'm looking into this.
According to the current dockerfile, the jar file must be built first before building the container. Shouldn't we doing this in the container itself, probably as a multi stage build?

[2019-10-03 09:17] JohannesLichtenberger commented on #48
That would be great. However, I'm sadly no Docker expert. But I think the Dockerfile itself now works with Linux at least, thanks to another contribution.

And we should publish on Docker Hub again, I think. I don't remember why I disabled the automatic deployment images for SNAPSHOTs.

But if you can help with the multistage Docker image, that would be great. I think it was simply `mvn package` o

[2019-10-03 09:19] JohannesLichtenberger opened #107 "Gradle build instead of multi module maven project"
I think it would be a great idea to move to Gradle instead of using Maven :-)

[2019-10-03 16:48] Alais29 commented on #101
Hi! I would love to work on this issue. If you could please direct me to where the current index and css files are I'll start working on it ASAP :)

[2019-10-03 18:09] JohannesLichtenberger commented on #101
Hi, thanks so much. The repository: https://github.com/sirixdb/sirixdb.github.io

[2019-10-03 18:19] Alais29 commented on #101
Got it, thanks!

[2019-10-03 21:30] LarsEckart commented on #107
I could have a look at this :)

[2019-10-03 21:46] JohannesLichtenberger commented on #107
No, a gradle multi project would be great, as you say. More or less the Maven stuff ported (once tried this for a big big monolith and was so frustrated and gave up, because I was and still am new to gradle... and the project at work is simply too big). However, I think SirixDB is rather small.

BTW: I had some trouble with the mvn release plugin and now I get a release in about 30 minutes instead

[2019-10-03 21:55] JohannesLichtenberger commented on #107
BTW: this monolith has ANT build scripts ;-)

[2019-10-03 22:35] JohannesLichtenberger opened #109 "Refactoring according to clean code principles"
For instance splitting classes. Maybe also using a dependency injection framework if needed which works at compile time. For instance Dagger2...

[2019-10-04 08:06] #51 closed

[2019-10-04 13:43] JohannesLichtenberger opened #111 "Update to Java 13"
I'd like to update to Java 13 and keep updating every half a year to ube able to use the most recent language advances.

That said on the contrary it would be great to be able to use GraalVM to build native images. Seems they only support Java 8!?

[2019-10-04 14:45] MartinTuroci commented on #81
Hi, I would take on this issue. Are there any custom validaitons you would like to have implemented?

[2019-10-04 15:07] JohannesLichtenberger commented on #81
Hi Martin, hmm. I don't think so as you first will have to authenticate yourself to be able to upload something.

It's a bit tricky to get the HTTP-server up and running together with Keycloak, but someone fixed the Docker and docker-compose scripts. I think what's missing is to include the test realm configuration in the docker-compose file. Then ideally you can run it and send requests.

What yo

[2019-10-04 15:09] JohannesLichtenberger commented on #81
I'd like to change the authorization OAuth2 flow for the web frontend, but so far you would have to use the password flow.

[2019-10-04 15:50] JohannesLichtenberger commented on #81
Maybe you can use

https://element.eleme.io/#/en-US/component/upload

[2019-10-04 18:29] MartinTuroci commented on #81
Yes I did use mentioned element, but came to a few issues here: If you want to have multiple files upload option with corresponding `application/xml` / `application/json` content-type. I will have to read file contents on frontend and merge json / xml files somehow, which makes no sense for me since creating initial database should be from one file only (just in my opinion). Another problem edge c

[2019-10-04 18:34] JohannesLichtenberger commented on #81
Yeah, I saw this earlier as I have no integration test for this. I guess I need a handler in front to handle multipart/form-data and then split at the first encountered content-typd of each file (and all files must either be XML files or JSON files). What do you think? I might find a bit of time tomorrow to fix this.

[2019-10-04 19:40] MartinTuroci commented on #81
Well, could you explain why you think multiple files are needed? I think that the initial DB should be created from 1 xml or json since I can't imagine, what could merging process possibly look like. As I have already mentioned before, as for security, I suggest processing all the data at the backend side and omit overhead of reading files on client.

[2019-10-04 20:29] LarsEckart commented on #107
Can you clarify, what is the sirix-cluster folder/modle doing right now? All I see is an empty Main.scala file.

[2019-10-05 03:20] MrBuggySan commented on #96
I haven't much experience with OAuth2...
a question though, do you mean letting the user specify their own auth server? and the url of the auth server will be passed in as env variable?
Also, are we configuring between password credential flow AND authorization code only? or do you see use cases for the other oauth flows as well?

[2019-10-05 05:15] JohannesLichtenberger commented on #107
Nothing, I will delete it completely...

[2019-10-05 05:22] JohannesLichtenberger commented on #96
For now I hardcoded Keycloak. The URL is passed via a JSON Vert.x config file.

I think the two flows you mentioned should suffice.

[2019-10-05 05:57] haridevelops commented on #87
what is this issue all about ? can you please eloborate ?

[2019-10-05 06:42] LarsEckart commented on #107
I made a PR so that my progress is visible, guess that will make collaboration/discussions easier.

[2019-10-05 09:07] Loniks commented on #111
Hi, @JohannesLichtenberger  I would like to work with this task in the scope of Hacktoberfest. Could you please assign it to me?

[2019-10-05 09:26] JohannesLichtenberger commented on #111
Thank you :-)

[2019-10-05 09:28] JohannesLichtenberger commented on #87
If we need to change minor things. Method names, signatures...

[2019-10-05 09:36] JohannesLichtenberger commented on #107
Thank you so so much :-)

[2019-10-05 12:47] JohannesLichtenberger commented on #81
Yes, but a database might have a collection of resources. I thought it would be nice to simply upload a directory with a bunch of JSON or XML files into one XML or JSON database. So the database consists of multiple resources which somehow belong together :-)

I've changed the server code, but have to figure out how to best test this...

[2019-10-05 13:44] Loniks commented on #111
Hi @JohannesLichtenberger,
I have found one potential issue with the migration of this project to Java 13. As I see dev team is in the middle of migration from Maven to Gradle. Unfortunately, Gradle doesn't have any release which supports java 13. Their goal is to include support in the 6.0 release.  Please see [issue](https://github.com/gradle/gradle/issues/10785#issuecomment-533011768) for detai

[2019-10-05 13:55] JohannesLichtenberger commented on #111
Hm, will think about it. Having native images of the Vert.x stuff, the HTTP-server would be awesome I think. However I think Netty had some issues, hope they fixed it by now... so, basically there was a Vert.x blog entry describing which Netty code had to be patched and how in order to create a native image.

What's your opinion? Maybe the native image would more useful in a Kubernetes setup, but

[2019-10-05 15:56] MartinTuroci commented on #81
I see. The problem with uploading folder is its browser compatibility as it not included in HTML5 spec currently. We could use [this](https://developer.mozilla.org/en-US/docs/Web/API/HTMLInputElement/webkitdirectory), but it is not recommended for production usage. We can however allow uploading multiple files at once. The main question though remains: What content-type is the best to be used? Jso

[2019-10-05 16:09] JohannesLichtenberger commented on #81
It should be `multipart/form-data` and then there are also content types for each file itself within the multipart stuff, right (explicitly allowed at least, see the link below)?  So for each XML file I expect `application/xml`, for each JSON I expect `application/json`. I would go for uploading multiple files at once (can you check that all of them are either XML or JSON) files in the front-end a

[2019-10-05 16:17] JohannesLichtenberger commented on #81
Oh, It's not the `multipart/form-data` Conent-type in the link, sorry. Seems we might have to use an inline content-disposition type and check this for XML or JSON data

[2019-10-05 16:24] MartinTuroci commented on #81
I am not sure if I follow you with content-disposition type. I can definitely check, whether all files are either json or xml, that's not a problem and afterwards send it via `multipart/form-data` all at once. What you will get is list of binary files on server. I am not sure about Java, but for example I have implemented similar functionality in .NET Core not long ago and the framework mapped cor

[2019-10-05 16:29] JohannesLichtenberger commented on #81
Vert.x simple stores the uploaded files in an upload directory on the server. With the ALI I'm then importing these files into SirixDB.

So, with the multipart content-type I know that a bunch of files might have to be handled (or Vert.x knows) and then I still have to know if they are XML or JSON files:

https://github.com/sirixdb/sirix/blob/master/bundles/sirix-rest-api/src/main/kotlin/org/sirix

[2019-10-05 16:45] MartinTuroci commented on #81
I see. That seems like the way to go. Maybe a little improvement for your code: You don't actually have to iterate over all the files and then check if the total size equals js/xml count. Instead, with each iteration check, the content type and if it is for instance xml and jsonCount != 0 then you can return error immediatelly :)

[2019-10-05 16:51] JohannesLichtenberger commented on #81
Yeah, right, thanks ;-)

[2019-10-05 17:22] MrBuggySan commented on #96
I see.
For configuring the auth server. Do you want that to happen in compile time via config file or during run time via rest api?

[2019-10-05 17:41] JohannesLichtenberger commented on #96
Hey, there's a JSON config file for the REST-API, which could simply be queried / to provide the configuration options for the Keycloak authentication via Vert.x.

[2019-10-05 17:42] JohannesLichtenberger commented on #96
Have a look into the SirixVerticle class :-)

[2019-10-06 11:41] sabamosleh commented on #94
hiii,can i take this one?
can you assign it to me?
thanks.

[2019-10-06 14:15] Loniks commented on #111
Well as for me we should think only about performance optimization steps that are already released. For now, nobody tested native images with JVM 11 or higher. I'm not sure if native images of the Vert.x will works from the box once Oracle releases GraalVM for JVM 11.
In JVM 13 there were garbage collector improvements which we can try today if we will migrate to t.

[2019-10-06 15:40] JohannesLichtenberger commented on #94
For sure :-)

[2019-10-06 15:41] JohannesLichtenberger commented on #111
Good point :-)

[2019-10-06 15:44] JohannesLichtenberger commented on #111
So maybe updating to Java 13 would be okay, as the Gradle migration needs some time I guess :-)

[2019-10-06 19:43] JohannesLichtenberger commented on #95
Thank you :-)

[2019-10-06 19:52] JohannesLichtenberger opened #114 "Add documentation and/or tutorials"
If you give SirixDB a try, how about writing a tutorial and/or adding missing stuff to the documentation!?

[2019-10-06 20:58] JoelLau commented on #101
@Alais29 I seem to have the skillset as you do! let me know if there's any way I can help

[2019-10-06 21:16] JoelLau commented on #52
@JohannesLichtenberger , there're some existing tools available that generate OpenAPI (Swagger) documentation based on code !

See https://github.com/OpenAPITools/openapi-generator.

I believe that works similarly to javadocs. Would you be interested in this ? If not, where should the "hand-written" documentation be stored ?

[2019-10-06 21:18] JohannesLichtenberger opened #115 "Provide a memory mapped file backend"
In addition to the `RandomAccessFile` backend we could use a memory mapped file backend, preferably using a framework or something like that which is proven and stable.

[2019-10-06 21:24] JohannesLichtenberger commented on #52
I think it works the other way around, right? First, writing the spec and then there are generators to create the respective routes in a framework!?

I've provided a hand written documentation at https://sirix.io/rest-api.html, but I think it needs some additional work. For instance there's a new route `GET /database/resource/history` with optional parameters `startRevision` and `endRevision` whic

[2019-10-06 21:31] JohannesLichtenberger commented on #52
In any case, thanks so much that you're interested in this task :-)

[2019-10-06 22:40] Alais29 commented on #101
Hi @JohannesLichtenberger I was going to start working on the project now but I seem to have some issues getting it to run on my computer. For what I could check on the repository, It's built with Ruby and Jekyll (please correct me if I'm wrong since I don't really know anything about ruby), I tried installing Ruby and Jekyll on my pc by following the instructions here https://jekyllrb.com/docs/in

[2019-10-06 22:41] JohannesLichtenberger opened #116 "Use a distributed log for the transaction intent logs"
Make it configurable if we use a local transaction intend log (current mode) or a distributed log (most probably Apache BookKeeper directly or Apache Pulsar). We have to decide if we should use one log per resource or per database. This opens up the way to scale SirixDB beyond a single node, but it's for sure an epic and needs to be broken down into finer granular tasks.

Note that Apache Pulsar h

[2019-10-06 22:58] JohannesLichtenberger commented on #101
Does `bundle install` help?

[2019-10-06 23:16] Alais29 commented on #101
@JohannesLichtenberger That did it!! Thanks :)

[2019-10-06 23:20] JohannesLichtenberger commented on #101
Cool, great :-)

[2019-10-07 14:25] JohannesLichtenberger commented on #116
As we want to provide transactions on the database level in the future we might have one distributed log per database.

[2019-10-08 07:53] JohannesLichtenberger commented on #107
Hey, I temporarily removed the Gradle stuff, as I thought it causes test case errors (turned out it was another test case bug somehow only happening during a specific order of tests on Travis and not locally). However, Travis also executed a Gradle specific thing, so I'm waiting ;-)

[2019-10-09 10:09] JohannesLichtenberger opened #119 "Test Setup of REST-API and running the integration tests"
The documentation can be found here: https://sirix.io/rest-api.html

[2019-10-09 15:13] vasanthkumar97 commented on #114
I would love to do this, Can you please let me know where do i find current documentation? Do we use any cms tools for the homepage.

[2019-10-11 13:15] har-vy commented on #119
Hi @JohannesLichtenberger, this is my first issue, can I contribute?

[2019-10-11 13:57] JohannesLichtenberger commented on #119
Yes, for sure :+1:

[2019-10-11 14:23] JohannesLichtenberger commented on #119
@har-vy I think this will help a lot :-)

[2019-10-12 08:52] fullstackguyhere commented on #109
@JohannesLichtenberger would like to work on this if it is still available.

[2019-10-12 09:00] JohannesLichtenberger commented on #109
I think that's a never ending story, but for instance the code in the `NodeReadOnlyTrx` implementations or the abstract class... I guess we could for instance use the command pattern to internally have the commands `Insert`, `Update`, `Delete`... and split the class into manageable units.

BTW: I'm also thinking about using Kotlin together with Java in the bundles/modules. The REST-API for instanc

[2019-10-12 09:10] #111 closed

[2019-10-12 09:11] JohannesLichtenberger commented on #101
Still working on this? :-) have a nice weekend

[2019-10-12 09:14] fullstackguyhere commented on #109
@JohannesLichtenberger Sure it does seem to be a never-ending story. The thing is I am only familiar with Java. So where should I start from? (Which class). I could proceed class by class and coding principle by principle from effective java and make push code daily to refactor the code and make it cleaner.

[2019-10-12 09:18] JohannesLichtenberger commented on #109
Yeah, I think you could have a look at the aforementioned interface and the implementing classes. I'm using my tablet right now, but I think the code shared amongst the JSON and XML transaction in an abstract class was huge with more than 1000 lines of code. I'd probably split this internally into Command classes. What do you think?

[2019-10-12 09:18] JohannesLichtenberger commented on #109
So, for the #Hacktoberfest you don't have to refactor everything, that would be a bit crazy or at least too much work!? ;-)

[2019-10-12 09:23] fullstackguyhere commented on #109
Yup @JohannesLichtenberger. My intention is in making contributions for a longer period of time. So if stretches past October it's not an issue since I am looking to contribute for long term and make incremental changes periodically.

[2019-10-12 09:23] JohannesLichtenberger commented on #109
Oh and additionally, one of the sad things is that I wanted to start writing more unit tests. Most of the tests are integration tests (still stems from the university project years ago), so it's hard to tell in the first place what exactly broke when something breaks :-/

BTW: If you need dependency injection with a tool, you could probably use Dagger2 as a compile time dependency injection framew

[2019-10-12 09:27] JohannesLichtenberger commented on #109
Wow, thanks :-)

[2019-10-12 09:57] JohannesLichtenberger commented on #91
Or at least use Kotlin besides Java and probably build a great DSL

[2019-10-12 14:57] har-vy commented on #119
@JohannesLichtenberger I have trouble building the project using Docker. There seems to be a persistent error "Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.8.0:compile (default-compile) on project sirix-core: Fatal error compiling: error: release version 13 not supported". Any idea how to remove this?

[2019-10-12 15:28] JohannesLichtenberger commented on #119
Ah, you need the rather brand new Maven version: 3.6.2

[2019-10-12 18:23] har-vy commented on #119
I installed Maven 3.6.2, the problem still remains

[2019-10-13 00:20] JohannesLichtenberger commented on #119
Ah, we just changed to Java 13... I changed the Dockerfile minimally, maybe now?

[2019-10-13 19:27] Alais29 commented on #101
Hi @JohannesLichtenberger Yes! I'm sorry, it was a really busy week for me so I wasn't able to work much on this, but I'm still on it, I'll let you know when it's ready, hopefully by this week :)

[2019-10-13 19:58] har-vy commented on #119
Thanks for the fixes, the server is up and running so is the keycloak. While running the tests there was a consistent error "io.vertx.core.VertxException: ALPN not available for JDK SSL/TLS engine" and the fix for that was to add a dependency for "io.netty:netty-tcnative-boringssl-static" in the pom.xml file. The error got removed and I tried to run the integration tests but even the first test do

[2019-10-13 20:02] Alais29 commented on #101
Actually, maybe by tonight or tomorrow I'll have some changes done 👍

[2019-10-14 02:32] Alais29 commented on #101
Hi @JohannesLichtenberger I just made the pull request on the other repository, please let me know if you like the changes :)

[2019-10-14 12:31] JohannesLichtenberger commented on #119
Hmm, I only ever ran the tests within IntelliJ and started Keycloak without Docker. But I suppose that at least Keycloak and the SirixDB HTTP-Server are running without any problems? :-)

[2019-10-14 12:34] har-vy commented on #119
Yeah the servers are up. I tried running tests through IntelliJ but it kept giving me the error port 9443 busy.

[2019-10-14 13:01] JohannesLichtenberger commented on #119
Hmm

`johannes@johannesl3:~/sirixdb/sirix$ sudo docker-compose up server
sirix_keycloak_1 is up-to-date
Recreating sirix_server_1 ... done
Attaching to sirix_server_1
server_1           | io.netty.channel.AbstractChannel$AnnotatedConnectException: Connection refused: localhost/127.0.0.1:8080
server_1           | 	at java.base/sun.nio.ch.Net.pollConnect(Native Method)
server_1           | 	at java.

[2019-10-14 13:02] JohannesLichtenberger commented on #119
Need to figure out why the SirixDB HTTP-Server can't connect with Keycloak

[2019-10-14 14:36] JohannesLichtenberger commented on #119
In `sirix-conf.json` change the Keycloak URL to `keycloak:8080` instead of `localhost:8080`:

[code]

And in a browser for instance: `https://localhost:9443/`. You'll get the Error from the SirixDB HTTP-Server: `Failure calling the RESTful API: token must not be null`.

[2019-10-15 06:37] #101 closed

[2019-10-15 06:37] JohannesLichtenberger commented on #101
Yes, it's great :+1:

[2019-10-15 06:38] #48 closed

[2019-10-15 06:56] JohannesLichtenberger commented on #100
I changed some stuff in the Dockerfile and docker-compose file. If you change localhost to keycloak in `sirix-conf.json` and follow the instructions on https://sirix.io/rest-api.html it should be up and running. But regarding this particular error I don't really know :(

[2019-10-15 07:11] #96 closed

[2019-10-15 08:49] JohannesLichtenberger opened #121 "Kotlin / a navigational concurrent axis"
Instead of blocking threads as in our current `ConcurrentAxis` (ExecutorService using a single thread pool and a BlockingQueue) and derivates we could implement Coroutine based axis which wrap normal axis using Coroutines/Channels.

[2019-10-15 08:56] JohannesLichtenberger opened #122 "Kotlin / Fetching page fragments of record pages concurrently"
If the underlying flash drive permits concurrent and parallel reads via PCIe bus we could store references to all page fragments and read these concurrently and in parallel.

Probably this would boost read performance considerably.

We should probably add a Kotlin dependency in the core and use Coroutines for this!?

As long as Java and Kotlin mix well in a project and it doesn't hurt runtime perf

[2019-10-17 17:48] parul-sinha commented on #84
Hi, I am interested in working on this issue. Can you please elaborate on the problem statement. What exactly do you expect. Do you want a front-end visualization of differences between 2 consecutive revisions of XML/JSON file or you want a backend functionality for the same.

[2019-10-17 17:54] JohannesLichtenberger commented on #84
Frontend visualization. That said we should decide on a JSON format to describe the differences, which are going to be computed by SirixDB:

https://github.com/sirixdb/sirix-web-frontend/issues/12

Let's probably discuss the matter in the other issue?

[2019-10-17 18:11] JohannesLichtenberger commented on #84
@parul-sinha are you interested in the front-end or backend stuff regarding this issue? As mentioned I think in the backend mainly a format which describes the changes is missing.

[2019-10-17 18:59] JohannesLichtenberger commented on #119
Hmmm, I hope this helped!? :-)

[2019-10-17 19:02] parul-sinha commented on #84
I am interested in backend development. From what I undersatnd, we need to create a data-structure to store this data.

[2019-10-17 19:29] JohannesLichtenberger commented on #84
Hm, yes, basically a JSON format probably. Or something like delta XML. For XML resources a diffing function can be used which creates an XQuery Update Script:

`https://github.com/sirixdb/sirix/blob/master/bundles/sirix-xquery/src/main/java/org/sirix/xquery/function/sdb/diff/Diff.java`

I've documented the diffing API a little bit here: https://www.baeldung.com/sirix (Section 8)

[2019-10-17 19:31] JohannesLichtenberger commented on #84
The JSON format, which describes the diff between any two revisions (not necessarily consecutive) then might for instance be used by our upcoming web frontend fod the side by side comparison...

[2019-10-17 19:37] JohannesLichtenberger commented on #84
Another thing would be that we could store the inserted, updated and deleted nodes (only the node keys ordered numerically and based on a delta encoding and the type of operation (insert/update/delete)) in an index-structure, such that comparing consecutive revisions is super cheap.

But I think a serialization format now would be more important in the first place.

[2019-10-18 11:15] JohannesLichtenberger opened #124 "Usermanagement for the REST-API (Vert.x / Kotlin / Keycloak)"
We have to provide permission checks not only based on the roles "create", "view", "modify" and "delete" but we should make this database dependent (databasename-create, databasename-view...)?

[2019-10-18 11:58] yiss commented on #124
Can you provide more details on this issue please ? I'm intersted on working on this

[2019-10-18 12:01] JohannesLichtenberger commented on #124
I think basically we only need to add database specific roles in Keycloak and then check for "${dbname}-view" for checking if a user is permitted to view/read a specific database. And equivalent for the other roles.

[2019-10-18 12:45] yiss commented on #124
@JohannesLichtenberger is there a reason why the auth role passed to Auth.kt always begins with "realm:" for example create "realm:create ?

[2019-10-18 12:50] JohannesLichtenberger commented on #124
@yiss, if I'm not mistaken it's because Keycloak differentiates between realm roles and application roles and Vert.x seems to support realm roles at least.

BTW: There's also:

https://github.com/sirixdb/sirix/blob/master/bundles/sirix-rest-api/src/main/kotlin/org/sirix/rest/crud/json/JsonSessionDBStore.kt

and

https://github.com/sirixdb/sirix/blob/master/bundles/sirix-rest-api/src/main/kotlin/or

[2019-10-18 12:57] JohannesLichtenberger commented on #124
Maybe we should also provide the roles as they currently are (for instance a special admin or group could have permission to access and manipulate all databases) plus the additional database wide roles :-)

[2019-10-18 13:01] JohannesLichtenberger commented on #107
Are you still working on this? :-)

[2019-10-18 13:03] JohannesLichtenberger commented on #94
Do you need help with this?

Have a great weekend :+1:

[2019-10-18 13:05] JohannesLichtenberger commented on #80
@sushant-j still like to work on this?

Have a great weekend :+1:

[2019-10-18 13:05] JohannesLichtenberger commented on #64
Hey, still like to work on this?

Have a great weekend :+1:

[2019-10-18 13:09] yiss commented on #124
@JohannesLichtenberger Yeah, it was new for me because I've never used KeyCloack, but I've just read the documentation and now I understand. Also thank you for all the infromations. I'll satrt working on it :-)

[2019-10-18 13:10] JohannesLichtenberger commented on #124
Cool, I'm also not an expert with Vert.x, Kotlin and Keycloak... :-)

[2019-10-18 13:14] JohannesLichtenberger opened #125 "Fixing Javadoc"
In general we need to fix the Javadoc in the whole project (doclint).

[2019-10-18 13:23] MartinTuroci commented on #81
Hi @JohannesLichtenberger, unfortunately, I am still busy. I would love to look into this, but I cannot tell you when for sure. In case there is somebody else who is interested in this issue, go ahead. For the next 2 weeks at least, I will not be available.

[2019-10-18 13:26] JohannesLichtenberger commented on #81
@MartinTuroci ah okay, no worries... maybe I'll find some time on my own :) but in any way, for testing I could also create a JSON and a XML database without the frontend :+1:

[2019-10-18 16:20] sneha122 commented on #125
Hey I would like to work on this issue..
Could you assign it to me?

[2019-10-18 21:13] JohannesLichtenberger commented on #125
Thanks a lot :-)

[2019-10-18 21:39] yiss commented on #124
@JohannesLichtenberger Hey I'm getting this exception when I try to run the project any idea why ?
[code]

[2019-10-18 21:49] JohannesLichtenberger commented on #124
Hi, you have to replace localhost with keycloak in the sirix-conf.json file if you use docker-compose and you have to use Java 13.

Let me know if that helps. And make sure to run the Keycloak service first.

[2019-10-18 21:59] JohannesLichtenberger commented on #124
In any case make sure that Keycloak is running on port 8080 (and if it's docker keep in mind the docker network stuff).

[2019-10-18 22:18] yiss commented on #124
@JohannesLichtenberger Thank you for your promt response, I didn't have a running keycloak in Docker, and that was indeed the problem. But now I'm having an issue running integration test. If I don't run the application first, I get this error :
[code]
But when I run the application and keep it runniong while I run the integration tests I get this error
[code]

[2019-10-18 22:37] JohannesLichtenberger commented on #124
So you're running `https://github.com/sirixdb/sirix/blob/master/bundles/sirix-rest-api/src/test/kotlin/org/sirix/rest/SirixVerticleJsonTest.kt` for instance from Intellij? Hmm, I guess the server doesn't start but in any case... what happens when you enter https://localhost:9443 In a browser for instance? Are you using a JUnit5 runner? :-)

[2019-10-18 22:38] JohannesLichtenberger commented on #124
And yes, the server is going to be started by the setup-method (Verticle deployed).

[2019-10-18 22:45] JohannesLichtenberger commented on #124
So, make sure to only start keycloak via docker-compose, but not the server service. Hope it helps a bit.

[2019-10-19 02:53] JohannesLichtenberger opened #126 "Test"
### Feature idea

[2019-10-19 02:53] #126 closed

[2019-10-19 06:15] RushikeshSawant commented on #98
Hi @JohannesLichtenberger I would like to work on this. Could please provide anymore info/suggestions you have on this? And could you please assigns this to me.

[2019-10-19 09:11] JohannesLichtenberger commented on #98
Hey, it's all about streaming resource changes directly to a client. For instance as an after commit hook. Might be interesting for dashboards or something like that!?

[2019-10-19 23:45] yiss commented on #124
@JohannesLichtenberger So I've tried to run the tests no luck there. But I pushed my modifications to my branch. Can you please check if the tests passes : https://github.com/yiss/sirix if it passes I'll create the merge request. Or if you can help on how I can run tests locally thanks :)

[2019-10-20 10:27] JohannesLichtenberger commented on #124
Ah, maybe you can try running Keycloak without Docker. For the integration tests I haven't used the Docker Keycloak Container, but simply started via the batch-file (standalone.bat) on Windows.

I've cloned your fork and it works like a charm (added the additional roles and added them also to the administrator group :-))

Can you update your branch and make a PR? 👍 However, would be super great if

[2019-10-20 13:46] yiss commented on #124
I updated my fork and created the pull request #127. The project looks super interesting. After reading the article that you mentioned in the documentation on Keycloak (Which I have never used) I managed to run the application. I'll try to make more contributions in the future :)

[2019-10-20 13:48] JohannesLichtenberger commented on #124
Wow, very cool :-) Thanks so much :+1: :1st_place_medal:

[2019-10-20 14:00] #124 closed

[2019-10-24 15:38] RushikeshSawant commented on #64
Hey @JohannesLichtenberger I have been trying to get the system up and running with `docker-compose up`. I managed to get fix `keycloak` URL issue by reading thru discussions in other issues threads. But now I am getting this error:
[code]

[2019-10-24 19:10] JohannesLichtenberger commented on #64
Ah, I think you have to make sure that you create a new realm called "sirixdb". I've updated the [documentation](https://sirix.io/rest-api.html).

However, with docker-compose and `sudo docker-compose run --rm waitforkeycloak` I think the realm should hopefully be imported (worked for me always so far). And make sure that your branch is up-to-date. Let me know if that helps :-)

[2019-10-24 19:11] JohannesLichtenberger commented on #64
A basic realm export file can be found here: https://github.com/sirixdb/sirix/blob/master/bundles/sirix-rest-api/src/test/resources/realm-export.json

[2019-10-25 09:52] yiss commented on #119
I suggest to use TestContainer so that we don't have to spin a docker container localy everytime we have to run integration tests :
https://github.com/cremich/testcontainers-keycloak this an example of using TestContainer with Keycloak

[2019-10-25 12:30] JohannesLichtenberger commented on #119
That would be great, also especially regarding CI/CD... would you like to work on this? I'm not having much spare time currently (but would like to push the frontend a little bit forward). And next week "unfortunately" I'm in holidays for a week :-)

BTW: I updated the realm to "sirixdb" instead of master (if you run into problems currently).

[2019-10-25 12:50] RushikeshSawant commented on #64
Thanks @JohannesLichtenberger 👍  I will give it a try over weekend. Cheers.

[2019-10-26 08:41] Surya97 commented on #125
Hey, can I work on this?

[2019-10-26 14:41] JohannesLichtenberger commented on #125
@sneha122 working on it or can I reassign? Or you split the work, hmm :-)

[2019-10-26 21:35] Surya97 commented on #125
@sneha122 So, you are working on this issue or shall I take it over?

[2019-10-27 17:23] JohannesLichtenberger commented on #119
@yiss: Did you use this TestContainer before? Can you open another issue, such that it doesn't get lost? :+1:

[2019-10-27 17:24] JohannesLichtenberger commented on #114
@vasanthkumar97 still interested? :)

[2019-10-27 17:26] JohannesLichtenberger commented on #107
@LarsEckart guess, you haven't got any time, lately to work on this? But thanks a lot for the work you did already :+1:

[2019-10-27 17:27] JohannesLichtenberger commented on #94
@sabamosleh Do you still like to work on this? Do you need help? Let me know, please :)

[2019-10-27 18:07] sabamosleh commented on #94
i am really sorry about my delay i need more time with this project cause i am very new.
you can unassign me so others can work on it.
but it is a cool project hope i can send a valid pr too:)))

[2019-10-27 18:34] JohannesLichtenberger commented on #94
Ah no problem, if I can help let me know. I think it's a good way to get a little bit into writing functions, which can be executed via XQuery :-)

[2019-10-27 18:45] JohannesLichtenberger commented on #94
Here's how Brackit works: http://wwwlgis.informatik.uni-kl.de/cms/fileadmin/publications/2013/Dissertation-Baechle.pdf

You can find similar functions for instance in `https://github.com/sirixdb/sirix/tree/master/bundles/sirix-xquery/src/main/java/org/sirix/xquery/function/sdb/trx`

[2019-10-27 19:06] sabamosleh commented on #94
thank you so much.

[2019-10-28 08:21] yiss commented on #119
@JohannesLichtenberger Yeah I've already used it on a project but I've never used it with Ketcloak. I'll create an issue for it

[2019-10-28 08:48] yiss opened #128 "Use TestContainers for integration tests"
The problem now is that when running integration tests we need to have a instance if keycloak running (the documentation shows how to run it using Dokcer)

Ideally we want to run integration tests without having to rely on having an instance of Keyloak running. To achieve that we would like to use TestContainers (official documentation : https://www.testcontainers.org/) to run Keycloak

Some other

[2019-10-28 09:55] JohannesLichtenberger commented on #119
Thank you :-)

[2019-10-28 09:56] JohannesLichtenberger commented on #128
A realm export can be found here:

https://github.com/sirixdb/sirix/blob/master/bundles/sirix-rest-api/src/test/resources/realm-export.json

Thanks for adding this issue :-)

[2019-10-28 10:42] JohannesLichtenberger commented on #128
Another resource (in german however):

https://www.7p-group.com/blog/integrationstests-mit-testcontainers-spring-security-und-keycloak/

[2019-10-28 17:54] sneha122 commented on #125
@Surya97 you can take it over.... I am sorry for the delayed response

[2019-11-06 20:11] JohannesLichtenberger commented on #109
@fullstackguyhere guess you're not interested anymore?

[2019-11-06 20:13] JohannesLichtenberger commented on #125
@Surya97 guess you might not have time or as #Hacktoberfest is over, hmm

[2019-11-06 20:15] JohannesLichtenberger commented on #98
@RushikeshSawant, should I work on this instead? Thanks nontheless for your interest :)

[2019-11-06 20:21] JohannesLichtenberger commented on #64
@RushikeshSawant I would probably take it over if you have no time and I guess it was for #Hactoberfest? ;-)

[2019-11-06 20:28] JohannesLichtenberger commented on #81
@MartinTuroci still no time? However #Hacktoberfest is over and maybe it was for the Hacktoberfest!?

[2019-11-06 22:10] #10 closed

[2019-11-06 22:13] #50 closed

[2019-11-07 05:56] RushikeshSawant commented on #64
Hey @JohannesLichtenberger Sorry about this- got really caught up with other things.
Thanks for taking back on this one.

[2019-11-07 05:57] RushikeshSawant commented on #98
Please go ahead and take on this @JohannesLichtenberger. Sorry I am currently caught up with other things.

[2019-11-20 07:48] nkmurthy commented on #49
@JohannesLichtenberger i am new to opensource contribution can i work on this

[2019-11-20 08:06] JohannesLichtenberger commented on #49
Yes, sure :-)

[2019-11-22 09:48] kulovan commented on #128
Hi, can I jump on this issue?

[2019-12-04 16:57] vikkihub commented on #52
is this task still available?

[2019-12-09 10:29] dextersrini commented on #114
Cant reach this page? is this issue still open?

[2019-12-09 16:24] JohannesLichtenberger commented on #114
Sure, and BTW: It's `https://sirix.io/documentation.html`, sorry :)

[2019-12-15 23:02] JohannesLichtenberger opened #147 "JSON diff format"
Determine a format to describe the changes encountered by the diff-algorithm.

[2019-12-16 18:00] FernandaCG commented on #87
Hi! Can I work on this?

[2019-12-16 19:00] JohannesLichtenberger commented on #87
Sure :-)

[2019-12-25 17:09] balajiv113 commented on #107
Hi @JohannesLichtenberger, is this still up ?? I would like to work on this.

[2019-12-25 17:17] JohannesLichtenberger commented on #107
@balajiv113 Still up. Lars has made a PR, which you take as a starting point if you like to :-)

I'd also love to use Quarkus for the REST-API bundle/module, but I should open another issue for this :-)

[2019-12-25 17:19] JohannesLichtenberger opened #148 "Using Quarkis(.io) for the REST-API bundle/module."
This would give us a better starting point for getting a Kubernetes cluster up and running in the future.
Maybe also using the GraalVM with native binaries. As we didn't use reflection and other stuff which would prohibit the use of native binaries the only thing now is that we moved to Java 13 and the GraalVM just started to support Java 11.

[2020-01-06 09:39] jtsa0267 commented on #49
Hi, I'm new to open source contribution as well. It seems like this issue is still open? If so, can I try to work on this?

[2020-01-06 18:03] balajiv113 commented on #128
@JohannesLichtenberger
Is this still up ? I could see a reverted commit in log.

[2020-01-06 18:14] JohannesLichtenberger commented on #128
Hmm, maybe we can run the docker container via travis and add a user with the appropriate roles afterwards.

[2020-01-06 18:31] zacharywhitley commented on #148
Did you mean https://quarkus.io/ ? (Note: quark**u**s instead of quark**i**s) I'm not familiar with that project but I didn't find anything under quarkis.io and it seems like the right thing.

[2020-01-06 18:36] JohannesLichtenberger commented on #148
Yes, Quarkus, sorry...

[2020-01-06 18:43] zacharywhitley commented on #148
No worries, I just wanted to make sure I was looking at the right thing :) I've had my eye on Sirix for a little while and wanted to dig in a little more.

[2020-01-06 18:45] JohannesLichtenberger commented on #148
Very cool. Let me know if I can help. And if you use SirixDB and encounter bugs, please let me know :-)

[2020-01-06 19:09] JohannesLichtenberger commented on #148
For reference:

Vert.x quickstart: https://github.com/quarkusio/quarkus-quickstarts/tree/master/vertx-quickstart

And the Router based approach using the Vert.x ALI directly instead of all this Annotation based stuff:

https://quarkus.io/guides/reactive-routes#using-the-vert-x-web-router

[2020-01-06 19:52] JohannesLichtenberger commented on #107
This is done :-)

[2020-01-06 19:52] #107 closed

[2020-01-07 08:28] yiss commented on #128
I've started working on it, while ago, hadn't had the chance to finish it. If you want I can give you a lead on what I've already did

[2020-01-07 09:13] JohannesLichtenberger commented on #128
@yiss I reverted my changes regarding TestContainers, because I think starting a Keycloak container plus adding a user with the rights can be simply done via Travis:

https://docs.travis-ci.com/user/docker/

[2020-01-07 13:21] balajiv113 commented on #128
@JohannesLichtenberger we could also run docker image via gradle before test and after test we can stop the container

https://github.com/bmuschko/gradle-docker-plugin

[2020-01-07 13:56] yiss commented on #128
@JohannesLichtenberger yeah that is more elegant implementation, maybe add the @balajiv113 suggestion too so that other contributers don't have to configure manually docker with keykloack

[2020-01-07 21:58] JohannesLichtenberger opened #169 "Increase test coverage considerably"
We should increase the test coverage considerably. Also probably using a compile time dependency injection framework.

[2020-01-12 20:21] #128 closed

[2020-01-14 14:23] dependabot-preview[bot] opened #187 "Dependabot couldn't find a pom.xml for this project"
Dependabot couldn't find a pom.xml for this project.

Dependabot requires a pom.xml to evaluate your project's current Java dependencies. It had expected to find one at the path: `/pom.xml`.

If this isn't a Java project, or if it is a library, you may wish to disable updates for it from within [Dependabot](https://app.dependabot.com/accounts/sirixdb).

[View the update logs](https://app.dependabo

[2020-01-14 14:31] #187 closed

[2020-01-24 10:11] ciphx commented on #49
Is this issue still open? (Seems so from the list) And if yes, would it be fine if I picked it up? I am not sure if there has been some collab on it already.
Please let me know..

[2020-01-24 11:25] JohannesLichtenberger commented on #49
Sure, thanks :)

[2020-01-25 11:14] JohannesLichtenberger opened #190 "Skip serialization of nodeKeys to reduce storage space further"
The nodeKeys don't have to be serialized. The position in the page-tree is fixed (so, we can simply calculate in which KeyValuePage a node is). Furthermore we can calculate the position.

Idea: We can calculate the index in the Page of a nodeKey. Then we can introduce a BitSet to keep track of which values are set during serialization and serialize the BitSet instead of all the nodeKeys. We should

[2020-01-25 11:15] ciphx commented on #49
Hello,
what would be the starting point to look through? So that I can get a little context and start with the issue.

[2020-01-25 11:16] JohannesLichtenberger opened #191 "Making keeping track of the childCount of each node configurable"
To further reduce storage space we can make it optional to keep track of the `childCount` of nodes.

[2020-01-25 11:24] JohannesLichtenberger commented on #49
@ciphx it's in the sirix-rest-api bundle. And there as of now restricted to binary XML data, as I haven't implemented the pretty printing of JSON resources as of now. I'll probably add another issue, as it's also a good first issue I think :-)

You'll find the appropriate locations in the class `org.sirix.rest.crud.xml.XmlGet`. And the location for the pretty printing is in the method `serializeRe

[2020-01-25 11:27] JohannesLichtenberger commented on #49
It would be nice to have an end-to-end test in `org.sirix.rest.SirixVerticleXmlTest`. I think you should be able to run the SirixDB server with Keycloak already set up with an admin user, which has all necessary roles assigned via `docker-compose`. `sudo docker-compose up`. Otherwise I hope you'll find the information in the [documentation](https://sirix.io/rest-api.html). Let me know if you need

[2020-01-25 11:29] ciphx commented on #49
I am trying to setup docker, fairly new to it, so will probably read up on docker and proceed. Aim is to get the server up by tonight(IST) and then come back with questions/update. Thanks for the prompt responses. :)

[2020-01-25 11:31] JohannesLichtenberger opened #192 "JsonSerializer: Add pretty printing option"
It would be nice to be able to pretty print the JSON output and not rely on for instance a post processing step via some tool.

The class is `org.sirix.service.json.serialize.JsonSerializer`.

[2020-01-26 20:13] #190 closed

[2020-02-02 17:58] #147 closed

[2020-02-07 18:37] balajiv113 commented on #119
@JohannesLichtenberger
This has been covered and completed under PR #186
I think we can close this improvement, Unless there are some more changes planned.

[2020-02-07 21:23] JohannesLichtenberger commented on #119
No, you're right :-)

[2020-02-07 21:23] #119 closed

[2020-02-07 21:23] #192 closed

[2020-02-12 21:28] #49 closed

[2020-02-19 13:56] EmilGedda commented on #115
Is this issue is still active? If so, I (or rather my group) would like to try to implement this.

Our additions will be in the `org.sirix.file` package and includes adding a `MemoryMapped` version of the already existing `Reader`, `Storage`, and `Writer` classes for the existing file backend and unifying the two different backends behind one interface. We will also take a look at the tests relati

[2020-02-19 17:39] JohannesLichtenberger commented on #115
That would be awesome. To be honest, I'm not entirely sure which benefits/drawbacks memory mapped files have, but I guess we should map the whole file at once opposed to only page-fragment regions. However, the file can get very large, at least in theory. I was able to import a 4 GB JSON file, but obviously I envision much bigger files, as it's more of a hybrid in-memory / on-flash drive DBMS.

I'

[2020-02-19 17:52] JohannesLichtenberger commented on #115
Regarding the configuration it's in the ResourceConfiguration :-)
and in org.sirix.io.StorageType

[2020-02-19 18:00] JohannesLichtenberger commented on #115
Ah, and we already have a Reader and a Writer interface

[2020-02-19 23:19] JohannesLichtenberger commented on #115
BTW: what's also interesting will be Byte Addressable NVM as for instance Intel Opthane Memory. I think it's an especially good fit due to fine granular access and even way faster random reads in comparison with SSDs. SirixDB does not store the whole database-pages during commits. It depends on the versioning algorithm, but usually only changed nodes + a few more are stored. This means that Sirix

[2020-02-20 15:27] mosheduminer opened #216 "GET /{database} endpoint hangs"
**Describe the bug**
According to the [docs](https://sirix.io/rest-api.html#read), calling the `GET https://localhost:9443/<database>` endpoint should return the database name and its resources.
However, when I make a call to this endpoint, the request hangs, instead of receiving a response.

**To Reproduce**
I don't have yet have code in the sirix client libraries that call this endpoint (but I w

[2020-02-20 15:28] mosheduminer commented on #216
[sirix-data.zip](https://github.com/sirixdb/sirix/files/4231555/sirix-data.zip)
Here is the state of my sirix-data.

[2020-02-21 22:04] JohannesLichtenberger commented on #216
Should be fixed now :-)

[2020-02-22 15:33] #216 closed

[2020-02-23 16:53] JohannesLichtenberger opened #217 "Cryptographic Blake3 Hashing"
Instead of Sha256 we should use Blake3 for hashing nodes optionally

[2020-02-24 14:53] JohannesLichtenberger opened #218 "AVLTree => Value, that is Reference-List should get it's own node(s)"

[2020-02-24 14:54] JohannesLichtenberger opened #219 "AVLTree => Compression of ReferenceList also in-memory"

[2020-02-27 14:58] mikkar2 commented on #115
Unfortunately we could not resolve this issue due to limited time, lacking documentation and bugs in our code which we couldn’t solve due to the lack of tests close to the functionality we were trying to implement. We think we are close to a solution and hopefully someone else can take over and fix the bugs we were unable to solve.

link to work in progress:  https://github.com/soffan20/sirix/pull

[2020-02-27 18:13] JohannesLichtenberger commented on #115
Great work so far. I hope you don't delete the work...

However, due to the limitations of MappedByteBuffers (2Gb for instance), I think we should switch to Java14 as soon as it's out and use the Foreign Memory Access API:

https://www.youtube.com/watch?v=NwXzT8T6mb8

[2020-03-07 01:08] JohannesLichtenberger opened #225 "Inspiration from ART and Judy arrays: Implement PageReferences node(s) used as delegates for indirect pages"
If only a very low number of offsets is used for references use special structures which use even less space than the bitmap + pop count from hash array mapped tries.

[2020-03-07 01:10] JohannesLichtenberger opened #226 "Support range-queries in our trie structure"
We can use binary comparable keys, for instance checking byte wise for each level. We can compare bytes directly which is even better than bit shifting...

[2020-03-07 01:13] JohannesLichtenberger commented on #225
First: page with 4 nodes as well as full page

[2020-03-10 14:02] JohannesLichtenberger opened #228 "AVL-tree => Van Emde Boas implicit pointer layout"
We can implement a Van Emde Boas layout, which is based on implicit pointers for immutable trees (read-only transactions).

[2020-03-24 13:47] mosheduminer opened #231 "Deleting a nonexistent resource of an existing database"
**Describe the bug**
When calling the DELETE /{database} /{resource} endpoint, a 200 status code is returned upon successful deletion. However, if {database} does not exist, 500 is returned.
This is good, however, if {database} exists and {resource} does not exist, 204 is returned. It would seem preferable to return 404 or 500.

**To Reproduce**
There is a test case [here](https://github.com/sirix

[2020-03-25 08:11] mosheduminer opened #232 "Error when inserting primitive JSON types"
**Describe the bug**
When calling the UPDATE /{database}/{resource} endpoint with a primitive datatype to insert, the REST-API throws an exception.
Upon inserting a string: `Failure calling the RESTful API: com.google.gson.stream.MalformedJsonException: Use JsonReader.setLenient(true) to accept malformed JSON at line 1 column 1 path $`.
Upon inserting other datatypes (non-object and non-array): `F

[2020-03-25 16:27] mosheduminer opened #233 "Error executing query through the REST-API"
**Describe the bug**
I sent the following query to the /{database}/{resource} GET endpoint as the query parameter in the URL:
[code]

The response was:
`Failure calling the RESTful API: class org.brackit.xquery.expr.SequenceExpr$EvalSequence cannot be cast to class org.brackit.xquery.xdm.Item (org.brackit.xquery.expr.SequenceExpr$EvalSequence and org.brackit.xquery.xdm.Item are in unnamed module o

[2020-03-29 18:38] JohannesLichtenberger commented on #233
[code]

Should work now :-)

[2020-03-29 22:53] #233 closed

[2020-04-01 14:20] #231 closed

[2020-04-01 14:20] #232 closed

[2020-04-01 17:50] #81 closed

[2020-04-01 17:51] #64 closed

[2020-04-01 17:52] #57 closed

[2020-04-10 07:26] severussundar commented on #169
Hi @JohannesLichtenberger, are you referring to unit test coverage here?

[2020-04-10 08:16] JohannesLichtenberger commented on #169
Both unit- and integration tests :-)

[2020-04-11 09:46] severussundar commented on #169
@JohannesLichtenberger  I am willing to work on this

[2020-04-11 10:14] JohannesLichtenberger commented on #169
Great :-) I'm currently working a little bit on the `XmlNodeTrx` to extract some functionality as DeweyID generation (which might be needed for the JSON stuff, too as I'd like to dump out the root-nodes of changes to a JSON-diff file (currently it's computed on demand)). The upcoming front-end needs the edit operations ordered in pre-order, thus simply comparing DeweyIDs if they are present is opt

[2020-04-14 22:21] JohannesLichtenberger commented on #169
Let me know if I can help you.

[2020-04-17 17:52] marcinbieleckiLLL commented on #121
Hey, from some time I want to take part in Sirix.
Can I work on this issue?

[2020-04-17 18:54] JohannesLichtenberger commented on #121
Sure, any help is more than welcome :-) I'd put this in a sirix-kotlin module I guess.

[2020-04-17 22:19] marcinbieleckiLLL commented on #121
You mean, that we should prefetch child nodes when we fetch parent node and on next iteration
only collect already fetched child nodes?

So for example in DescendantAxis in nextKey method on first iteration should run
asynchronous task which will produce child keys?

[2020-04-17 22:51] JohannesLichtenberger commented on #121
When navigating down in the tree the right sibling nodes are stored in a Stack / Deque. They could for instance already be fetched in parallel within another operating system thread. I'm however now sure how many concurrent and parallel I/O can be done on modern SSDs or even way faster on byte addressable non-volatile storage as for instance Intel Opthane memory.

[2020-04-17 22:56] JohannesLichtenberger commented on #121
Also as you mentioned probably first child or right siblings (the latter for leaf nodes).

However, I'm not sure to which extend this makes sense, as most nodes probably will be located on the same page but that depends on update modifications.

I guess in a first step paralellizing as in the ConcurrentAxis would be great, but non-blocking should probably hopefully be faster.

[2020-04-18 10:38] marcinbieleckiLLL commented on #121
Okay, I think I understand :)
Didn't notice this Stack.

So same situation with Right Stack is in DescendantAxis and JsonDescendantAxis.

But there are also other axis which use stack:
- LevelOrderAxis - we could process all levels parallel?
- PrecedingAxis, FollowingAxis - process subtrees parallel?

But this require lot of changes I think. Just the idea.

[2020-04-18 12:29] JohannesLichtenberger commented on #121
I think we'd also first have to research how much parallelization makes sense even on modern hardware. I'd love to work on a memory mapped I/O subsystem with the new foreign memory API and to make full use of for instance Intel Optane Memory, as SirixDB due to its log-structured persistent data-structure needs fast random access on non-volatile storage.

I'm currently working on fetching the page-

[2020-04-18 13:26] marcinbieleckiLLL commented on #121
Okay, so this for later, good luck with your task and have a nice weekend ;)

[2020-04-19 18:25] JohannesLichtenberger commented on #121
Thanks, let me know if you work on the Concurrent Coroutines based axis :-)

[2020-04-19 20:28] marcinbieleckiLLL commented on #121
Yes yes, I did it and now trying to do DescendantAxis to get rid of this right stack.
Also need to setup Keycloak I think because I have exception during rest-api compose up,
so will take some time for sure

[2020-04-20 06:44] JohannesLichtenberger commented on #121
Did you push your stuff somewhere?

[2020-04-20 09:19] marcinbieleckiLLL commented on #121
No, should I push this Coroutine axis?

[2020-04-20 11:17] JohannesLichtenberger commented on #121
Maybe in your fork first. Do you have test cases?

[2020-04-20 11:46] marcinbieleckiLLL commented on #121
Ok, I copied tests from ConcurrentAxis.

Do you have any branch naming rules? Can't find it anywhere.

[2020-04-20 12:49] JohannesLichtenberger commented on #121
No, don't have any rules, that's up to you. Did you put this stuff in a new bundle/module?

For instance sirix-kotlin-api would be great.

[2020-04-20 13:59] marcinbieleckiLLL commented on #121
Yes, there is sirix-kotlin-api
I raised pull request: https://github.com/sirixdb/sirix/pull/237

Also I have a question about DescendantAxis, we want to process right page of tree in parallel with left page, so it means that we need to do it more or less in same time, left page in main thread and right in coroutine. To do this we need two different instance of cursor or some locks and a lot of cur

[2020-04-20 14:11] JohannesLichtenberger commented on #121
There's the resource manager.

`try (final var database = Databases.openJsonDatabase(databaseFile);
     final var manager = database.openResourceManager("resource");
     // Now open a read-only transaction again on the most recent revision.
     final var rtx = manager.beginNodeReadOnlyTrx()) { ... }`

I'd probably pass the resource manager to the axis. However, you have to make sure to close al

[2020-04-20 14:31] marcinbieleckiLLL commented on #121
Ok, thanks :)

[2020-04-21 15:19] punit-kulal commented on #125
hey, I would like to work on this issue, is the javadoc currently deployed anywhere, I couldn't find one

[2020-04-21 17:56] JohannesLichtenberger commented on #125
Hm no, as of now it's not deployed

[2020-04-22 11:54] marcinbieleckiLLL commented on #121
Hi, I made CoroutineDescendantAxis, but I've tested it and it is much slower than normal DescendantAxis.
I've made pull request but it isn't finished yet. Only want to know your thoughts about it :)

[2020-04-22 22:04] JohannesLichtenberger commented on #121
I guess you might have a SATA drive. The SSD should be connected via a PCIe bus, otherwise it can not read in parallel I think.

Furthermore, it might be that most nodes are on the same node page / `UnorderedKeyValuePage` and thus it's already read during sequential access and synchronization overhead dominates.

[2020-04-23 09:24] JohannesLichtenberger commented on #121
BTW: If you like we could think about a Kotlin DSL (but you might be more familiar with Kotlin :-)) or a Client for our REST-API would be great, to simplify working with SirixDB.

[2020-04-23 12:20] marcinbieleckiLLL commented on #121
Don't know much about kotlin :)

You mean https://github.com/sirixdb/sirix-kotlin-client ?
Do you have any documentation?

[2020-04-23 12:32] mosheduminer commented on #121
About documentation for the rest API - there is https://sirix.io/rest-api.html, though I think there might be some details there that weren't updated.
You can also use [the python client](https://github.com/sirixdb/sirix-python-client) for reference. There is also the [typescript/javascript client](https://github.com/sirixdb/sirix-typescript-client), but it's a bit of a mess and not very modular.

[2020-04-23 13:49] marcinbieleckiLLL commented on #121
Sounds good. I can try to do it, but it will take some time for sure, because I have also other projects. Is there any deadline?

[2020-04-23 14:12] mosheduminer commented on #121
No deadline, I would say. We would like to have a 1.0.0 release sooner rather than later, but maybe @JohannesLichtenberger has some timeline. There is a [roadmap](https://github.com/sirixdb/sirix/blob/master/ROADMAP.md) however. (The roadmap only references the vue/nuxt web frontend, but I've been working on https://github.com/sirixdb/sirix-svelte-front-end, though I've been busy of late, unfortun

[2020-04-23 20:17] marcinbieleckiLLL commented on #121
Thought again about this task and I can't do it.
I would do this with pleasure, because project is great
but have some other projects with deadlines and don't have much time now :(

Sorry for the confusion.

[2020-04-23 21:08] JohannesLichtenberger commented on #121
No problem 👍 I'm also working in my spare time on the project, because I really think it can be a great addition to the database systems world :-)

[2020-04-26 14:10] punit-kulal commented on #125
I have started working on this, you can this issue to me, there are instances where the method signatures have changed. I have started to mark some todos there so that @JohannesLichtenberger  could look into it and think what the right value for that would be

[2020-04-27 05:40] punit-kulal commented on #125
I have fixed all the errors of doclint barring references to class name that have probably been renamed or removed: Here's the list
org.ByteHandler.io.bytepipe.IByteHandler
QName
IVistor
IPage

[2020-04-28 08:47] JohannesLichtenberger commented on #125
Can you make a PR? :+1:

[2020-04-28 08:49] JohannesLichtenberger commented on #125
org.sirix.io.bytepipe.ByteHandler
org.brackit.xquery.atomic.QNm
org.sirix.api.visitor.NodeVisitor
org.sirix.page.interfaces.Page

[2020-04-29 10:49] punit-kulal commented on #125
We can close this now

[2020-04-29 10:50] punit-kulal commented on #191
I am thinking of working on this issue next, can you tell me how should I go about it

[2020-04-29 11:12] #125 closed

[2020-04-29 11:22] JohannesLichtenberger commented on #191
You can introduce a configuration parameter in `ResourceConfiguration`, something like `storeChildCount(boolean)`. Then you'd have to check in `JsonNodeTrx` and in `XmlNodeTrx` where the childCount is set and make it dependant on the resource config parameter. You'd also have to check in NodeKind where the StructNodeDelegate is serialized/deserialized. This touches quiet some layers, but I guess i

[2020-05-02 21:16] #122 closed

[2020-05-02 21:16] #121 closed

[2020-05-04 11:34] JohannesLichtenberger commented on #191
@punit-kulal let me know if I can give you further guidance...

[2020-05-04 22:56] JohannesLichtenberger opened #241 "Store DeweyIDs in a secondary trie (some form of ART)"

[2020-05-06 17:51] mosheduminer opened #243 "Missing data in diff"
**Describe the bug**
When calling the `/{database}/{resource}/diff` endpoint, information about empty objects or empty arrays is returned, but not the objects themselves, nor their type. The endpoint should return both of these fields, just like any other object.

**To Reproduce**
This can be easily reproduced using pysirix:
[code]
This will print:
[code]

**Expected behavior**
There should be no

[2020-05-06 23:19] #243 closed

[2020-05-07 13:23] mosheduminer opened #244 "Arrays not inserted into arrays"
**Describe the bug**
Inserting an empty array does not seem to be properly handled by sirix.

**To Reproduce**
I include here some code and output from the python client:
[code]
The diff shows correctly that `[]` was inserted, but in the wrong place, as it shows that the new nodeKey is `1`, when it should be `2`, and it is not shown when viewing the resource, so it seems that the array has replace

[2020-05-07 15:42] #244 closed

[2020-05-09 09:16] punit-kulal commented on #191
@JohannesLichtenberger  I was trying to read up the structure and this is what I could infer: When we say keeping track of childCount configurable to save space, what we essentially mean is not serializing/deserializing the childCount property. If the user has a configuration which tells  not to track the childCount property. How do we serialize, if the configuration changes between two different

[2020-05-10 10:52] JohannesLichtenberger commented on #191
Hey, it should be configurable in the `ResourceConfiguration`, that is when a resource is created :-)

[2020-05-15 14:05] mosheduminer opened #249 "Allow configuration of HTTPS in the REST API"
### Feature idea
Currently, the only way to run the SirixDB server is with a HTTPS certificate. This is onerous for a developer, especially one who just wants to experiment with SirixDB. Also, the server may be deployed behind a proxy, in which case the cert is superfluous.

I propose that the SirixDB server handle cases where a certificate is not supplied, and not use HTTPS in such cases. Alterna

[2020-05-15 15:15] mfnt commented on #91
Hi Johannes,

this issue looks like a good issue to work in into Kotlin.
Can I pick it up?

[2020-05-15 21:11] JohannesLichtenberger commented on #91
Sure, give it a try. I might however, in the meantime work a bit on the Java module (for instance adding AST rewrite rules for Brackit :-))

[2020-05-18 13:46] JohannesLichtenberger commented on #91
@ManfredNentwig we'd also need a Kotlin based CLI and a client, maybe that makes even more sense to work on.

[2020-05-19 05:53] ManfredNentwig commented on #91
Ok, that's fine for me.

I think that there should be new Tickets for the client and the CLI.
What do you think?

[2020-05-19 06:22] JohannesLichtenberger commented on #91
Yes, true :-)

[2020-05-19 06:25] JohannesLichtenberger opened #251 "Create a Kotlin HTTP-Client"
Similar to the Python and TypeScript Client we should provide a Kotlin Client.

[2020-05-19 06:28] JohannesLichtenberger opened #252 "Create a Kotlin CLI"
We should provide a command line interface to basically execute queries, create a database, a resource and to drop resources and databases, retrieve the history of a resource...

[2020-05-19 15:48] ManfredNentwig commented on #91
Ok. I stop working on this ticket.

[2020-05-19 15:52] JohannesLichtenberger commented on #91
I've created the other two tickets, if you like to work on one of them.

[2020-05-19 16:14] ManfredNentwig commented on #252
I want to pick up this ticket, but have some questions.
Due I can not find an existing implemention of an CLI.

So this is an complete new implementation, right?
If yes, is an Specification provided somewhere?

[2020-05-19 16:26] JohannesLichtenberger commented on #252
No, but basically you should be able to

- Create/Drop databases
- Create/Drop resources in a database
- Execute a query
- Simply dump a resource in one or all revisions into a JSON or XML file (depending on the database type)
- Update a resource

[2020-05-19 16:32] JohannesLichtenberger commented on #252
Maybe we can create a simple Kanban project and split this into several tasks...

[2020-05-19 16:45] mosheduminer commented on #252
Hey @ManfredNentwig, I wrote a shell using the REST-API and the python client ([here](https://gist.github.com/mosheduminer/0246058bd6f0369e0e4a9bf043221d70)). How I wrote it is not really applicable to you, but I assume that this ticket is for a CLI of similar functionality.

In my case, I used a "context", to allow shortcuts for commands. For example, `create --data []` would create a resource wi

[2020-05-20 06:24] ManfredNentwig commented on #252
Thank you guys, I think thats help.

One last Question: shoud I create a new Project for the CLI  or can it be part of an existing one, e. g. core?

[2020-05-20 06:56] JohannesLichtenberger commented on #252
I'd create a new module in the bundles folder `sirix-kotlin-cli`probably :-)

[2020-05-20 09:25] ManfredNentwig commented on #252
Thx. Can start now.

[2020-05-21 08:40] #225 closed

[2020-05-21 14:34] JohannesLichtenberger opened #253 "Create a JSON as well as XML serializer to serialize only the first n-nodes on the second level"
For the frontend we need a way to display only the root-node and the first n-nodes on the second level. Preferably additional serializers, such that a query doesn't have to be compiled and executed...

[2020-05-21 14:35] #249 closed

[2020-05-21 15:10] JohannesLichtenberger opened #254 "Making the use of Keycloak in the REST-API optional"
In order to make it easier to setup SirixDB with an HTTP-Server for testing we should make the use of Keycloak optional.

- all OAuth2 routes should not be available
- the Auth handler can just return the current route
- in this case use `XmlDBStore` instead of `XmlSessionDBStore` and `JsonDBStore` instead of `JsonSessionDBStore`

[2020-05-21 15:17] JohannesLichtenberger commented on #66
All resource, that is node transactions have to lookup the metadata resource in order to get the most recent revision for instance.

[2020-05-21 15:19] JohannesLichtenberger opened #255 "JsonNodeTrx / insert nodes as left sibling"
Inserting nodes as a left sibling should be possible for convenience.

[2020-05-21 15:25] JohannesLichtenberger opened #256 "AST rewrite rules for index accesses in the query processor"
We should make use of our available secondary index structures. We have 4 types of indexes, which are user defined and might not be available. However checking if an index is available should be cheap:

- in JSON object field indexes and in XML element name and attribute name indexes
- in JSON object value indexes and in XML text node and attribute value indexes
- Path indexes
- CAS indexes, which

[2020-05-21 15:27] JohannesLichtenberger opened #257 "Secondary index structure: Extract interface(s) such that we can plug-in for instance a derivate of ART"
We should extract interfaces to have a better index-structure in terms of performance on modern hardware in order to be able to switch from our AVL-tree.

[2020-05-21 15:32] JohannesLichtenberger opened #258 "Implement the JSON Update possibilities similar to XQuery Update (inspiration by JSONiq)"
We should implement updating primitives to be able to update JSON resources via XQuery:

http://www.jsoniq.org/docs/JSONiqExtensionToXQuery/html-single/index.html#section-json-updates

and the next section especially

[2020-05-21 15:36] JohannesLichtenberger opened #259 "JsonNodeTrx: Implement replaceNode operation"
We should be able to replace a node in a single atomic method. That way we can replace a value of an object key without having to remove the object key node and the value node and insert the same object key node again together with another value node.

[2020-05-21 21:06] JohannesLichtenberger commented on #191
Do you need further help? :-)

[2020-05-22 05:07] punit-kulal commented on #191
I am a bit occupied with other priorities, I have started making the changes, will definitely ask if I hit a roadblock

[2020-05-22 07:05] JohannesLichtenberger commented on #191
okay, sounds great

[2020-05-22 13:23] JohannesLichtenberger opened #261 "Optimize storage of hashes in the `UnorderedKeyValuePage`"
We should probably first sort the hashes and then apply delta encoding.

[2020-05-25 11:08] punit-kulal commented on #191
What's the use of difference between child count and descendent count? I could see them being  used along with childCount operations, but couldn't understand the use for it as it is not being used consistently in XML and JSON Node.

[2020-05-26 20:48] JohannesLichtenberger commented on #191
- `childCount` is the number of immidiate children
- `descendantCount` is the number of nodes in the whole subtree

[2020-05-27 20:20] JohannesLichtenberger opened #263 "Add IndexExpr expression"

[2020-05-28 22:50] JohannesLichtenberger commented on #252
Any news? Do you need help? :)

[2020-05-28 22:51] JohannesLichtenberger commented on #191
HTH, do you need further help?

[2020-05-29 07:08] punit-kulal commented on #191
No, that would be it

[2020-05-29 07:08] ManfredNentwig commented on #252
Hi Johannes,

I did the setup and first line of code. It's fine for me at the Moment
I was busy with some other topics the last days, think I can work on these Issue the next days and will give you an update after the weekend. :-)

[2020-05-30 07:47] #191 closed

[2020-05-30 07:51] JohannesLichtenberger opened #265 "Create Jigsaw modules"
We have a pending pull request, which failed some time ago... I guess it's not much in order to fix it. We also switched to Gradle in the meantime.

[2020-06-01 14:13] ManfredNentwig commented on #252
I created a branch with my first approch and my very first Kotlin code. :-)
Please have a look.

https://github.com/ManfredNentwig/sirix/tree/252_create_a_kolin_cli

[2020-06-01 14:18] JohannesLichtenberger commented on #252
Looks good :-) I'm also rather new to Kotlin, but I really like it.

[2020-06-04 20:13] JohannesLichtenberger opened #268 "Store revision lists in another trie subtree"
For each node we can optionally store a delta encoded revision list in another trie structure. The position simply reflects the nodeKey as in our main document index.

[2020-06-04 20:17] JohannesLichtenberger opened #269 "Replace the hash function"
We optionally store a rolling hash of all nodes in a resource. Currently, to avoid collisions as much as possible SirixDB uses the first 128 Bits of a 256 Bit SHA256 hash. We probably can use a non-cryptographic fast(er) hash function which produces a low number of hash colissions given 64Bit unique, dense, ascending nodeKeys + values...

[2020-06-04 20:19] JohannesLichtenberger opened #270 "Compress the hash values"
We have to apply some compression on the hash values to reduce durable space consumption.

[2020-06-07 15:07] ManfredNentwig commented on #252
Hi,

the create command is implemented now.
I tried out a little bit and I am not sure if I use the sirix API i a propper way but all tests are green of course. ;-)

I will implenent the next command now.

[2020-06-07 19:53] JohannesLichtenberger commented on #252
`Databases#removeDatabase` is right :-)

[2020-06-11 01:20] btmalone commented on #265
I can take a look into this if you want

[2020-06-11 22:02] JohannesLichtenberger commented on #265
That would be amazing, thanks :-) Any help is highly welcome.

[2020-06-12 23:53] JohannesLichtenberger opened #273 "Twig-operator"
Will be used to answer multiple path queries starting at the same subtree root node with a single subtree document scan.

[2020-06-15 19:23] #263 closed

[2020-06-15 19:23] JohannesLichtenberger commented on #265
The PR: https://github.com/sirixdb/sirix/pull/106

[2020-06-16 11:48] JohannesLichtenberger commented on #252
Did you get any further? :)

[2020-06-17 05:58] ManfredNentwig commented on #252
Jepp. :-)

I have to implement the 'Execute Query' and the 'Update update a resource' command from your list, then your List is done. I think I can finish the commands at the next weekend.

And I consider to use YML as Format for the commd file. What do you think?

[2020-06-17 08:43] JohannesLichtenberger commented on #252
Very nice, thanks a lot for all your work :+1:

[2020-06-29 16:18] rbhatmanjunath commented on #259
Hi @JohannesLichtenberger. Can I work on this?

[2020-06-29 16:38] JohannesLichtenberger commented on #259
Hi, sorry I forgot to close this issue, as I implemented this like two weeks ago: https://github.com/sirixdb/sirix/blob/627fa5a57a302b04d7165aad75a780d74e14c2e9/bundles/sirix-core/src/main/java/org/sirix/api/json/JsonNodeTrx.java#L20

However, there are plenty of other issues :+1:

[2020-06-29 16:38] #259 closed

[2020-06-30 22:21] rbhatmanjunath commented on #255
Hi, can I work on this one?

[2020-06-30 22:21] rbhatmanjunath commented on #259
okay :)

[2020-07-01 08:29] JohannesLichtenberger commented on #255
Sure :-)

[2020-07-01 08:30] #258 closed

[2020-07-06 17:46] JohannesLichtenberger commented on #252
Any news? :-)

[2020-07-08 23:55] JohannesLichtenberger commented on #255
@rbhatmanjunath how is it going? Do you need help? :)

[2020-07-08 23:56] JohannesLichtenberger commented on #265
@btmalone you're going to work on this?

[2020-07-13 10:37] JohannesLichtenberger opened #278 "Preload the IndirectPages to reside in-memory"
Reloading the IndirectPages from durable storage into RAM will be beneficial, as they are typically small in size compared to the leaf node page fragments combined to store the data of one page. So, it's feasible to hold at least the first two or three IndirectPage levels in-memory.

[2020-07-13 16:32] JohannesLichtenberger commented on #252
@ManfredNentwig maybe you can make a PR and I can work on finishing your stuff if you might not have much time, lately? I think it's a must-have for providing a demo in a few weeks or months :+1:

[2020-07-14 08:07] JohannesLichtenberger commented on #255
@rbhatmanjunath, let me know if you still like to work on this, please.

[2020-07-14 17:36] ManfredNentwig commented on #252
Sorry Johannes,
I was not able to work last time due personal reasons but I am very interested in to finisdh these task.
If I can not go on during the next weekend then it is ok for me when you ore someone else pick up these issue.

Is this ok for you?

Regards
Manfred

[2020-07-14 22:32] JohannesLichtenberger commented on #252
Sure, that's fine and totally understandable. Sorry, some issues just remain assigned to someone for months and I don't know if it's ever going to be finished. So, for sure you can have the next weekend or next couple of weekends :-) I somehow have to learn how to get status updates as in the Scrum dailies for these Github tasks. I just thought you might have disappeared, which is sadly sometimes

[2020-07-15 17:35] JohannesLichtenberger opened #282 "Implement a JsonStreamingShredder based on Vert.x JSON streaming parser"
Thus, we can omit storing first a temp JSON file in the HTTP-Server:

https://vertx.io/docs/apidocs/io/vertx/core/parsetools/JsonParser.html

[2020-07-15 17:57] JohannesLichtenberger opened #283 "Improve query based updates/inserts"
Insertion of a subtree should be done without first materializing/serializing the item to add.

https://github.com/sirixdb/sirix/blob/master/bundles/sirix-xquery/src/main/java/org/sirix/xquery/json/JsonItemSequence.java

[2020-07-15 18:06] JohannesLichtenberger opened #284 "Add rewrite rule for CAS index accesses with multiple predicates"
Currently the AST is not modified if only one branch of the AST matches the index. For instance `where $node=>foo eq 'bar' or $node=>foobar eq 'baz' and an index access would be possible for one of the two, we should rewrite the AST accordingly.

Also index accesses might be possible for constellations where the predicate is in the middle of a longer "path" query: `$node=>foo[.=>bar][[0]]=>baz`.

[2020-07-15 18:10] JohannesLichtenberger opened #285 "Add rewrite rules for names, that is field accesses"
We should add rewrite rules for index accesses if name indexes are applicable and no CAS or Path indexes are applicable. We should check for the leaf nodes first and internally rewrite the child based path to a parent based path sequence.

[2020-07-15 18:13] JohannesLichtenberger opened #286 "WebSockets for the REST-API to stream updates/changes into the Browser in real-time"
This feature could be used by visualizations in the front-end for instance.

[2020-07-15 18:28] JohannesLichtenberger opened #287 "Adding more node types in our trie, at least a full node type"
The references in an `IndirectPage` might be stored in a full page after a certain threshold of references is not null. Meaning we can use a simple ArrayList or array to store the set PageReferences.

[2020-07-15 18:31] JohannesLichtenberger commented on #287
A new `FullReferencesPage` in https://github.com/sirixdb/sirix/tree/master/bundles/sirix-core/src/main/java/org/sirix/page/delegates is needed.

[2020-07-15 18:35] JohannesLichtenberger opened #288 "We should abstract away some parts of our trie"
This way we can implement a fully persistent, durable ART derivate for secondary index structures instead of using a CPU cache unfriendly AVL tree. This might play a big role once inline types are available and the Java memory model has been changed.

[2020-07-15 18:39] JohannesLichtenberger opened #289 "First considerations using Kafka topics for horicontal scaling."
My highlevel idea would be to replace the Kafka store with a SirixDB based store, as we don't need a WAL for the resources itself. Then our transaction log needs to be written to a Kafka Topic...

[2020-07-15 18:54] JohannesLichtenberger opened #290 "Encrypt the page-fragments. Have a look at ZFS"
Provide Encryption-at-Rest for resources stored in SirixDB.

[2020-07-15 18:56] JohannesLichtenberger commented on #290
https://blog.heckel.io/2017/01/08/zfs-encryption-openzfs-zfs-on-linux/

[2020-07-16 06:50] #115 closed

[2020-07-16 06:50] #98 closed

[2020-07-19 19:09] ManfredNentwig commented on #252
I complete understand the point.
I did some work today but I haven't finish the query command today due it is more work then expected and I havn't had the time I had expected. Anyway...   I can contribute more constantly from now on.

One Question regarding the query Command options: I copied these from the REST API but I can not see the dependencies between them. Every of them can be null but wha

[2020-07-19 20:35] JohannesLichtenberger commented on #252
Basically valid is:

1. `revision` or
2. `revisionTimestamp` or
3. `startRevision` and `endRevision` or
4. `startRevisionTimestamp` and `endRevisionTimestamp`

`resource` can be specified in the query so, it might be null. `nodeId` can be specified, but it doesn't have to (for serializing a subtree). `user` shouldn't be needed, I think and `queryStr` is needed for queries.

Basically everything ca

[2020-07-23 09:58] vjtadepalli commented on #289
Hi, I would like to work on this. A first timer in terms of open source contribution, I have experience in Java. Any help I can get to start?

[2020-07-23 13:15] JohannesLichtenberger commented on #289
Sure, I think we first have to look into Kafka if it's possible to plugin a custom store. I think that would be better than storing topics in Kafka for persistence and then reading it again to update a SirixDB instance. Furthermore I think they now support reading from replicas and not only from the "master topic node". Thus, I think we might be able to use Kafka for shipping the transaction log t

[2020-07-24 00:47] btmalone commented on #265
Hey! Sorry this is so late I am planning on trying to do it all this weekend.

[2020-07-25 14:14] ManfredNentwig commented on #252
The query-command is implemented so far. :-)

Two issues I have:

**1. The xml xQuery Test fails with an NPE.**
I analyzed a little bit and found out, that the Method 'org.brackit.xquery.expr#processSequence' returns null due the class XmlDBNode doesn't implement Array, Record or LazySequence.  For the Json case the class JsonDbObject implements Record so that the Method returns a value.
I do not

[2020-07-25 14:28] JohannesLichtenberger commented on #252
Guess I won't have time to look into it until tomorrow evening, but sounds great. You could make a PR 👍

Another thing I'm currently investingating since two or three days and getting a bit frustrated with are test failures in the REST-API due to open resource managers found, when a request comes in to delete a resource in a database... but only on Travis or a Github Action. I haven't been able to

[2020-07-26 04:24] parameswaranmarimuthu commented on #286
Hi @JohannesLichtenberger could you please provide more details on this? I am can start on this.

[2020-07-26 04:32] parameswaranmarimuthu commented on #269
Hi @JohannesLichtenberger , could you please share additional information on this? I can help you on this.

[2020-07-26 11:07] ManfredNentwig commented on #252
The query-command is implemented so far. :-)

Two issues I have:

**1. The xml xQuery Test fails with an NPE.**
I analyzed a little bit and found out, that the Method 'org.brackit.xquery.expr#processSequence' returns null due the class XmlDBNode doesn't implement Array, Record or LazySequence.  For the Json case the class JsonDbObject implements Record so that the Method returns a value.
I do not

[2020-07-26 19:42] ManfredNentwig commented on #252
The PR is created. Nevertheless I want to implement the update command and the command file.

Unfortunately I also can't reproduce the error on my local machine and I see no reason in the code why the Tests should fail as far as I understand the code.

I am just brainstorming:
Perhaps the thread is dead or suspended for some reasons during the tests on Travis or GitHub. In similar situations when

[2020-07-26 21:17] JohannesLichtenberger commented on #286
I think it would be great if updates to the resources, that is via `XmlNodeTrx` and the `JsonNodeTrx` could be streamed into the Browser for instance. That is someone should be able to subscribe to resource changes within a database (topic might be database + resource name). I think we might be able to extend the HTTP-server (sirix-rest-api) for instance. Or I'm not sure if it makes sense to devel

[2020-07-26 21:20] JohannesLichtenberger commented on #252
Sounds great :)

Hm, maybe logging the constructor and close calls of the resource managers will be of some help.

[2020-07-27 00:55] btmalone commented on #265
@JohannesLichtenberger is there the possibility for upgrading to Gradle 6.4 or higher in the near term? It looks like there is better support in for modules introduced in 6.4 as seen in the [release notes](https://docs.gradle.org/6.4/release-notes.html)

[2020-07-27 08:54] JohannesLichtenberger commented on #265
Sure, if you like to you can make a PR? :)

[2020-07-27 12:11] JohannesLichtenberger opened #294 "Insert lastChildPointer for JsonNodeTrx at least"
Thus, we can provide efficient insertions into objects (always at the last position) as well as avoid triggering of relabeling DeweyIDs.

[2020-07-27 19:31] JohannesLichtenberger commented on #252
[code]

It's a damn mystery what's happening here. BTW: If you like to you can join the Slack channel :-)

[2020-07-28 06:18] ManfredNentwig commented on #252
And when the ResourceManagers where closed but not removed from the HashMap? ;-)
The check will fail in this case also.

[2020-07-28 06:34] JohannesLichtenberger commented on #252
but the one failing is not closed, have a look: https://travis-ci.org/github/sirixdb/sirix/jobs/712418666

[2020-07-28 07:14] ManfredNentwig commented on #252
Have overseen this! =:-o

In the log you send me the DEBUG Statement 'Resource managers %s for file %s' signals the call of the check.

In this log the check fails in the third iteration. Look at line 3611:

`03:24:55.934 [DefaultDispatcher-worker-3 @coroutine#344] DEBUG org.sirix.access.DatabasesInternals - Removed resource file to resource manager mapping: /home/travis/build/sirixdb/sirix/bundle

[2020-07-28 07:50] JohannesLichtenberger commented on #252
Good catch, will have to check in the evening, but that's very strange of course and that's exactly the bug for sure. I thought the first request must have been handled.

I suppose that's whenever I call

`ctx.response().setStatusCode(200).end()`

or something like that the response is already ended and the manager is mostly closed right afterwards, but not always. Meaning I always should send the

[2020-07-28 07:56] ManfredNentwig commented on #252
So we found an X-File!  ;-)

BTW: I am not using Slack....

[2020-07-28 08:42] Raj-Datta-Manohar commented on #294
Hi @JohannesLichtenberger , I am new here and trying to work on this issue.
I am stuck here at https://github.com/sirixdb/sirix/blob/81bdaaaf7931cdf9651e9b502c16df63b0274b53/bundles/sirix-core/src/main/java/org/sirix/access/trx/node/json/JsonNodeTrxImpl.java#L1616

trying to figure out if there will be a condition when inserting as Last Child similar to
https://github.com/sirixdb/sirix/blob/81bdaa

[2020-07-28 09:10] JohannesLichtenberger commented on #294
Whenever a node has no right sibling I'd say, the parent must be adapted. Furthermore if a node during deletes has no right siblings the parent must be adapted.

[2020-07-28 09:21] JohannesLichtenberger commented on #294
For the current tree-encoding: https://www.baeldung.com/sirix#tree-encoding-in-sirix

[2020-07-28 12:12] btmalone commented on #265
Sure thing!

[2020-07-28 12:36] Raj-Datta-Manohar commented on #294
@JohannesLichtenberger, Could you help me out in the implementation of `insertValue(...)` method for inserting an ObjectRecord as Last Child
As of now, the `insertValue(...)` method, https://github.com/sirixdb/sirix/blob/81bdaaaf7931cdf9651e9b502c16df63b0274b53/bundles/sirix-core/src/main/java/org/sirix/access/trx/node/json/JsonNodeTrxImpl.java#L581
always inserts as the first child,

So I guess I

[2020-07-28 14:13] JohannesLichtenberger commented on #294
@Raj-Datta-Manohar, that's a method internally used for inserting a value for a key or field (synonyms). That is, basically you only have a first child pointer and for the value a parent pointer (even though the parent pointer could be even omitted, strictly speaking just for convencience).

That is, the first child is also the last child, regarding the pointers.

[2020-07-28 14:47] Raj-Datta-Manohar commented on #294
Thanks for the clarification @JohannesLichtenberger , I will raise a PR

[2020-07-28 15:13] JohannesLichtenberger commented on #294
Thanks a lot, that's fast :-)

[2020-07-28 15:15] JohannesLichtenberger commented on #294
We should also avoid storing the pointer twice in the case of an object field to child.

[2020-07-28 15:39] JohannesLichtenberger commented on #294
You also have to adapt the nodes itself and the serialization/deserialization thereof. Have a look at `NodeKind`.

Can you also add some unit and/or integration tests? We have to increase our test coverage :-)

[2020-07-28 18:18] Raj-Datta-Manohar commented on #294
I totally forgot about the serialize, deserialize, I'm writing them now.

I will try to add some tests too:-)

[2020-07-28 19:20] JohannesLichtenberger opened #296 "Performance: Many small writes within a transaction via insertSubtreeX(...), if committed are horribly slow"
[code]

[JUnitStarter-2020-07-28.zip](https://github.com/sirixdb/sirix/files/4990616/JUnitStarter-2020-07-28.zip)

[2020-07-28 19:22] JohannesLichtenberger commented on #296
Some might be attributed to running from JUnit within IntelliJ plus Profiling, but still way too slow.

[2020-07-28 19:29] Raj-Datta-Manohar commented on #294
@JohannesLichtenberger , is there a reason for implementing last child only for Json and why not Xml?

[2020-07-28 19:50] JohannesLichtenberger commented on #294
The reason is fast inserts into objects: https://github.com/sirixdb/sirix/issues/294#issuecomment-664904320

I'm not sure if it adds a lot of performance to queries, hm.

[2020-07-28 19:58] JohannesLichtenberger commented on #294
BTW: If you like to you can join the Slack channel. However, I think today I might not be too active anymore (it's 10pm over here).

[2020-07-29 10:14] JohannesLichtenberger opened #297 "Update REST-API to Vert.x 4 Beta 1"
We should update the REST-API (server-rest-api bundle) to Vert.x 4 Beta 1. Some stuff has been deprecated, though.

[2020-07-29 10:24] JohannesLichtenberger commented on #296
We can add a parameter to disable the `getParentKind()` check on purpose. Furthermore I wonder if it's best to share one Writer and Reader in the `ResourceManager` to make the `reinstantiate()` call during a commit as the last action more performant. Another thing might be to disable reading all nodes of the `PathSummary` into main memory during writes.

Discussions are welcome :-)

[2020-07-29 16:31] Raj-Datta-Manohar commented on #294
@JohannesLichtenberger , why did you use `insertPos` instead of `insertPosition` here:
https://github.com/sirixdb/sirix/blob/c556048afc67570567261c4c1cb813240f8fbb6f/bundles/sirix-core/src/main/java/org/sirix/access/trx/node/json/JsonNodeTrxImpl.java#L1648

[2020-07-29 20:41] JohannesLichtenberger commented on #296
It's on SSDs and Hard drives mainly due to the fact, that we don't group transaction commits, but immediately write them to persistent storage. However, this should be okay, even for small writes on byte addressable NVM.

[2020-07-29 20:44] JohannesLichtenberger commented on #294
The parameter is not even used. I just removed it.

[2020-07-31 06:26] ManfredNentwig commented on #252
FYI: I have no time this weekend to work on the last command. Postponed to the following.

[2020-07-31 13:54] JohannesLichtenberger commented on #252
Thanks for the info and no problem :) have a nice weekend

[2020-08-01 00:27] JohannesLichtenberger opened #299 "Transaction group commit"
To avoid write amplification for small sized read-write transactions:

- we should preCommit the data during a commit to a queue
- the data should be serialized, however to the queue instead of a file
- the queue should be synced to durable storage after a specific number of bytes has been accumulated in the queue
- the RevisionRootNode plus update up to the UberPage ancestor have to be written by

[2020-08-02 21:57] JohannesLichtenberger commented on #294
Do you need more help?

[2020-08-03 06:09] Raj-Datta-Manohar commented on #294
No, I have been busy, will work on the issue in day or two.
Btw I'm also working on #255

[2020-08-03 07:25] JohannesLichtenberger commented on #294
Ah, thanks :-) BTW: I think when you're finished we should refactor the `JsonNodeTrx` class and use a bunch of command delegates. I think it's way too long, even now without the additional methods. Furthermore we could use Dagger2 for compile time dependency injection, such that we can easily write unit tests. As of now most tests are rather integration tests (which might be also a good thing as w

[2020-08-03 15:11] JohannesLichtenberger commented on #299
Alternative and maybe better and easier approach is to write XML or JSON strings as well the context node keys and the insertion as right sibl/left sibli or first child into a queue and issue a transaction commit once a threshold is hit (node based, byte size based, time span based or a combination thereof). The queue must be replaced with a new empty queue atomically.

API-wise the open issue wou

[2020-08-10 06:28] ManfredNentwig commented on #252
FYI
Update Command is implemented, the Test not.

[2020-08-10 19:23] JohannesLichtenberger commented on #252
Sounds good :+1:

[2020-08-15 12:52] JohannesLichtenberger opened #306 "Implementation of a form of Adaptive Radix Trie for secondary index structures"
We should either enhance our `PageReadOnlyTrx` and `PageTrx` interfaces to replace our trie structure for secondary indexes or simply store the ART in leaf pages of a wide branching IndirectPage and fully read it in-memory. The second version is simpler to implement, but users need more main memory.

AVL trees are currently stored in leaf nodes and should be read entirely in main memory, just for

[2020-08-15 13:07] JohannesLichtenberger commented on #306
One important aspect is, that we can cache the pages by their offsets into the file if we enhance the interfaces and implement the ART as an "on-disk" data structure. This means, that the pages can be shared between revisions, also once read into main memory.

[2020-08-16 11:46] #253 closed

[2020-08-17 08:44] PARVEENSINGH commented on #251
Can I take it up?

[2020-08-17 09:03] JohannesLichtenberger commented on #251
Sure :+1:

[2020-08-17 10:42] JohannesLichtenberger commented on #306
An evolution to reduce the tree height for sparse data sets is the HOT: https://dbis-informatik.uibk.ac.at/sites/default/files/2018-06/hot-height-optimized.pdf   it adapts node sizes such that sparsely populated nodes have a heigher span. Reducing storage space of the "compound nodes" can be done as in ART and Hash Array Mapped Tries (like we also do in our simple trie for dense ascending IDs).

[2020-08-17 10:49] PARVEENSINGH commented on #251
Thank you, I will check the code & will get back to you.

[2020-08-19 14:59] JohannesLichtenberger commented on #251
Let me know if you need help. There's a Python-Client + TypeScript-Client already :+1:

And you could use Vert.x for Kotlin :)

[2020-08-19 21:31] JohannesLichtenberger commented on #297
I think they are putting up a guide how to migrate.

[2020-08-24 09:46] JohannesLichtenberger opened #308 "Names => Store only deltas on durable storage"
We could first sort the hash nodes in a data page (`UnorderedKeyValuePage`) and then only store deltas. I'm sure there are more optimizations.

Currently we simply hash names and reference them from the nodes. The hashes are stored in another trie-structure on durable storage, that is we can make full use of our versioning algorithms.

[2020-08-24 09:47] JohannesLichtenberger commented on #308
Names are stored in the `NamePage`.

[2020-08-25 22:27] JohannesLichtenberger commented on #251
@PARVEENSINGH let me know if you make progress and/or like to work on it :-)

[2020-08-28 18:39] JohannesLichtenberger opened #314 "Store the diffs in a second shadow subtree of a RevisionRootPage"
The change logs or diffs are currently directly stored in JSON files. However, when we support encryption at rest we should instead store it in a shadow structure of the resource we store, meaning another trie besides the document index beneath the `RevisionRootPage`.

[2020-08-29 16:09] JohannesLichtenberger opened #315 "Implement a mini-page cache"
Something along those lines: https://db.in.tum.de/~leis/papers/nvm.pdf

[2020-08-31 20:24] #294 closed

[2020-08-31 20:25] #255 closed

[2020-08-31 20:27] JohannesLichtenberger commented on #252
@ManfredNentwig what's the status of the client? I guess some tests are missing, but other than that it's working? 👍

[2020-09-01 04:45] albertjt commented on #314
Hi @JohannesLichtenberger, I'm new to open source contributions (and definitely to how temporal database works). I have some questions regarding the issue. Does it mean that I have to create a new method that creates a new tree and put it inside the RevisionRootPage class? Does it also mean that the shadow structure will be put inside the TransactionIntentLog? I have a hard time understanding the

[2020-09-01 07:43] JohannesLichtenberger commented on #314
@albertjt, I just added the tree a couple of days ago. What's missing is to write nodes into the tree (`JsonNodeTrx` in the end of the commit-method I'm still writing the JSON file directly, but it should be written into the tree now (`IndexType.CHANGED_ NODES`).

[2020-09-01 09:40] ManfredNentwig commented on #252
Hi @JohannesLichtenberger ,

yes, it is implemented but the update test throws an exception regardeding the setup of the test database.
I have not had time the last weeks, but I think I can work on it next weekend again.
:-)

[2020-09-01 09:49] JohannesLichtenberger commented on #252
That's great, looking forward :-)

[2020-09-02 17:55] JohannesLichtenberger commented on #314
@albertjt you can ask in the Forum or over here or on Slack for help. Let me know, if it helped a little bit :-)

[2020-09-02 21:54] JohannesLichtenberger opened #317 "Compression of common prefixes of values in nodes"
In the `UnorderedKeyValuePage` we could check if it makes sense to store the values of value based nodes together (for instance Strings and Numbers) and do a delta encoding, storing common prefixes only once. First, the values must be sorted. Furthermore a BitSet must track which nodes are value nodes.

[2020-09-02 22:17] JohannesLichtenberger commented on #317
Not sure if it's beneficial in this case, however.

[2020-09-04 21:51] mosheduminer opened #318 "Null Pointer Exception"
**Describe the bug**
When running the query in the following CLI file, a null pointer exception occurs. I'm not sure why it occurs specifically in this case.

**To Reproduce**
Run the following CLI file:
[code]
**Expected behavior**
A succesful query, without an NPE.

[2020-09-05 08:28] #318 closed

[2020-09-06 08:59] ManfredNentwig commented on #252
Hi Johannes,

I stuck with build errors. The master and the feature branch is merged with upstream. I haven't ave this before, any idea?

Within the IDE:
`> Task :sirix-xquery:compileJava FAILED
warning: using incubating module(s): jdk.incubator.foreign
.../sirix/bundles/sirix-xquery/src/main/java/org/sirix/xquery/json/JsonDBArray.java:15: error: JsonDBArray is not abstract and does not override a

[2020-09-07 00:12] JohannesLichtenberger commented on #252
Hm, I've added a method to Brackit (https://github.com/sirixdb/brackit), the query processor. I think at least now it should work, if you try again!?

[2020-09-07 18:52] mosheduminer opened #319 "Queries using the REST-API do not have proper authorization checks"
**Describe the bug**
It is possible for a user with only `view` permissions to access the databases using any query, even if that query modifes database state. This should be allowed only according to the `create` `delete` `modify` permissions granted to the user.

**To Reproduce**
You can create a new user with `view` permissions in keycloak, and then use the frontend to run an replace query.

**

[2020-09-08 10:15] JohannesLichtenberger commented on #319
I think it's not that trivial, as we have to push down the OAuth2Auth handler (Keycloak) and the User. I'm not sure if we have to add wrapper objects everywhere to get these two parameters in `XmlDBNode` and the `JsonDBItem` implementations. If we check in a special `XQuery` class, we would have to parse the AST to get the database names, for the databases, which are touched by update queries.

[2020-09-10 09:39] mosheduminer commented on #319
I suppose this issue can be closed now?

[2020-09-10 11:26] JohannesLichtenberger commented on #319
It works only with the store wide roles (`view`, `modify`, `delete`...), but not with `dbname-view` and so on. O'd like to keep it open. So far I haven't been successful in delegating everything and adding new classes.

[2020-09-21 18:19] #287 closed

[2020-09-21 18:19] #268 closed

[2020-09-21 18:20] JohannesLichtenberger commented on #252
@ManfredNentwig do you have time to finish this?

[2020-09-24 06:35] ManfredNentwig commented on #252
@JohannesLichtenberger
Hi Jonhannes, :-)

I implementet the Test. At the moment  the JSON updates does an an insert and the XML update throws an exception.
For me it is not clear if these is caused by the implemtation of the update or the test or by the setup of the test Database.

[2020-09-25 07:14] JohannesLichtenberger commented on #252
oh, you could disable the test, make a PR and I can have a look. Or I could clone your repo, once its pushed.

[2020-09-26 09:05] ashish3805 commented on #283
Hi @JohannesLichtenberger  can I take this one? Also, I may need little clarification I guess.

[2020-09-26 09:16] JohannesLichtenberger commented on #283
The problem is, that the items are first serialized to a JSON string and the shreddered / imported into SirixDB. Analogous to the `JsonShredder` we'd need an `ItemShredder` or something like that to directly add the items to the SirixDB resource instead of the intermediate step of first serializing to JSON and then shredding into the SirixDB resource.

[2020-09-26 09:18] JohannesLichtenberger commented on #283
It's used for updating queries (have a look into `JsonIntegrationTest`). The `insert into`... queries. First in-memory instances of the items are created. Afterwards, based on these items the SirixDB resource is going to be updated.

[2020-09-26 13:45] JohannesLichtenberger opened #333 "Upgrade to Java 15"
We should use Java 15 for SirixDB.

[2020-09-27 08:20] ashish3805 commented on #283
@JohannesLichtenberger I am unable to understand most of the domain. Can you point me to any doc that can help me understand the basic data models and flows? The integration did helped me a little in understanding the flow. What does a shredder do?

[2020-09-27 08:46] cheparsky commented on #333
Hey! I would like to give this a shot!

[2020-09-27 09:46] mohammedtabish commented on #289
Hey ,if nobody’s working on it can i take it up?

[2020-09-27 22:10] JohannesLichtenberger commented on #333
Sure, great 👍

[2020-09-27 22:11] JohannesLichtenberger commented on #289
Sure, but I think it's more of an epic and we have to create tasks along the way. Do you know, if we could use SirixDB as the storage backend of Kafka directly?

[2020-09-28 10:06] mohammedtabish commented on #289
As much I know in the disk part the partition of a Kafka topic is a directory and that is furthermore divided into segments that are stored inside the directory and contain the actual message. There contains more information about the offset of the current partition so changing the whole way of storing a topic we might have to re-write so many things. The storage part is handled by the Kafka broke

[2020-09-28 18:02] JohannesLichtenberger commented on #289
Hm, probably it's not easy, but storing a resource in a topic would otherwise mean it's made durable in Kafka and SirixDB, too. But both structures represent a log, basically and SirixDB does not need a separate log for the resources for consistency reasons.

[2020-09-30 17:45] JohannesLichtenberger opened #337 "Diffing-Function based on "paths" for JSON (not nodeKeys)"
We need an XQuery diffing function using paths ("foo"=>"bar"=>"baz") and positional accesses ("foo[[0]]") to support creating diffs between two consecutive revisions (1,2 then 2,3 then 3,4) and an importer, which makes use of these diffs. We can simply use the change tracking we already have and furthermore use most of the logic the existing jn:diff function already has.

[2020-09-30 18:30] JohannesLichtenberger opened #338 "Importer which takes all geberated diffs"
We need an importer which once the diffing task has been done first imports revision 1 and then takes the diff file between revision 1 and 2 to apply changes, then the diff file between revision 2 and 3 to commit the third revision...

[2020-09-30 18:35] JohannesLichtenberger commented on #269
@parameswaranmarimuthu sorry, I forgot to answer. Still interested? We want a hash function, which does not produce a collision with another node hash, but in contrast to cryptographic hash functions it should be very fast.

[2020-09-30 18:39] JohannesLichtenberger opened #339 "The query compiler should support further index rewrites"
Currently, predicates which are logically combined (`and`/`or`) are not rewritten to index accesses.

Furthermore no rewrite rules exist to automatically rewrite the AST to a name index access.

[2020-10-02 13:49] parameswaranmarimuthu commented on #269
Yeah, sure. I can pick it up.

On Wed, Sep 30, 2020 at 11:36 AM Johannes Lichtenberger <
notifications@github.com> wrote:

[2020-10-02 19:28] cheparsky commented on #333
@JohannesLichtenberger Hi, I tried update project to **Java 15**, when I compile the everything is fine, but when I run test task I got error, example:
`java.lang.instrument.IllegalClassFormatException: Error while instrumenting sun/util/resources/cldr/provider/CLDRLocaleDataMetaInfo.
	at org.jacoco.agent.rt.internal_43f5073.CoverageTransformer.transform(CoverageTransformer.java:94)
	at java.instr

[2020-10-02 20:39] JohannesLichtenberger commented on #333
Did you try to build/test with Gradle? I think you need a preview Gradle version, as the stable version has no support for Java 15 as of now.

[2020-10-03 14:27] JohannesLichtenberger opened #343 "Add a compile time DI framework"
We should add a compile time framework (Dagger2?) to make it easier to mock dependencies of a class.

[2020-10-03 20:46] SameerKhurana commented on #343
Hi Johannes,

I would like to work on the issue, Can you please share the project details.

Thanks,
Sameer

[2020-10-05 06:57] Gabitchov commented on #343
Hello,

Is it still relevant?

[2020-10-05 09:11] JohannesLichtenberger commented on #343
Yes, sure :-)

[2020-10-05 14:29] JohannesLichtenberger commented on #289
@mohammedtabish should we discuss this further? :-)

[2020-10-06 15:24] JanBucko commented on #286
Hello, is this issue still free? I would like to take a look.

[2020-10-06 15:28] JohannesLichtenberger commented on #286
@JanBucko, sure it's still open and no one assigned. Maybe we should make it optional in the `rest-api` bundle.

[2020-10-06 15:56] JanBucko commented on #286
I'm glad to hear that. I will try to get a little bit familiar with the project, then I will see what can I do may I turn on you in case of any issues ?

[2020-10-06 16:00] JohannesLichtenberger commented on #286
Yes sure, keep asking here, in our Slack channel or in the Forum. I think the forum might also be a good place for general discussions :+1:

[2020-10-07 22:34] JohannesLichtenberger opened #345 "Create a Rust-Client"
We should provide a Rust client in addition to the TypeScript and Python client.

https://sirix.io/rest-api.html#api-description

[2020-10-08 15:16] cheparsky commented on #333
After a few different approaches I still get error:
[code]

It is seems like 'org/brackit/xquery/xdm/DocumentException' was compiled in java 14 and some features are unsupported when we compile project in Java 15.

I think we should change a java version of brackit to 15, first. @JohannesLichtenberger What do you think about it?

[2020-10-08 15:23] JohannesLichtenberger commented on #333
Yes, if you'd like to work on the issue give it a try. Otherwise I can also upgrade Brackit :)

[2020-10-08 15:40] cheparsky commented on #333
I will try :) @JohannesLichtenberger will you create issue for it?

[2020-10-08 16:18] cheparsky commented on #333
Here is PR https://github.com/sirixdb/brackit/pull/9
After merge I can continue to work on this PR

[2020-10-10 02:47] ganeshbhargav commented on #333
UnsupportedClassVersionError is telling us that our class was compiled at a higher version of Java than the version with which we tried to run it. More specifically, in this case, we compiled our class with Java 15 and tried to run it with Java 14.

Error: org/brackit/xquery/xdm/DocumentException (class file version 58.65535) was compiled with preview features that are unsupported. This version of

[2020-10-10 07:47] JanBucko commented on #286
Hello, i am having a little problem running things locally, is there any guide for building the project please ?

[2020-10-10 10:13] JohannesLichtenberger commented on #286
Hi Jan, have a look at https://sirix.io/rest-api.html#api-description

I hope that helps :)

[2020-10-11 05:41] JanBucko commented on #286
I am giving up on this issue.

[2020-10-11 21:15] JohannesLichtenberger commented on #286
So, you didn't get the HTTP-Server up-and-running? That's a shame. I'd love to help, for sure. Can you give me a hint of what the problem is for other users?

[2020-10-12 21:40] JohannesLichtenberger commented on #333
@ganeshbhargav  thanks :)

@cheparsky, do you need further help?

[2020-10-12 21:43] JohannesLichtenberger commented on #252
@ManfredNentwig you should be able to work on the stuff again, I've fixed the PR some time ago 👍

[2020-10-13 07:50] ManfredNentwig commented on #252
ok :-)

[2020-10-14 09:26] JanBucko commented on #286
Hello, i didnt manage to get even the database core examples running :)

[2020-10-14 11:43] JohannesLichtenberger commented on #286
What was the stacktrace of the throwable after running with storage type file?

[2020-10-14 18:04] JanBucko commented on #286
I have described the whole problem in your comunity forum :) Yor suggestion to change storage type to FILE worked but I came across linkage error when I was trying to launch the main method of example codes as I described, perhaps I have done something terribly wrong. Nevertheless I am currently contributing to some other projects, but when I'll have those issues done perhaps I'll gladly give it a

[2020-10-15 08:33] simoneromano96 commented on #345
Hi, this looks like an interesting project, I love rust and I'd like to collaborate, I just saw this from this week in rust, are there any deadlines? Who is going to coordinate the collaborators?

[2020-10-15 08:40] JohannesLichtenberger commented on #345
Hi, that's great :+1:

Please ask @mosheduminer, the repo is brand new: https://github.com/sirixdb/sirix-rust-client

[2020-10-20 22:24] #333 closed

[2020-10-25 05:09] elizabethqiu commented on #86
Can I help with this?

[2020-10-26 00:02] JohannesLichtenberger commented on #86
Sure, would be great :)

[2020-10-27 13:04] JohannesLichtenberger commented on #86
Let me know if you need help :+1:

[2020-10-30 16:18] elizabethqiu commented on #86
Thank you! I would love receive a bit more clarification on how to get started. (I have basic coding skills, but am not confident on overall skills)

[2020-10-30 22:21] JohannesLichtenberger commented on #86
hi @elizabethqiu, that's great. You can for instance try to get the [web GUI](https://github.com/sirixdb/sirix-svelte-frontend) up-and-running and work on the documentation.

You can also try to run the (mostly) Java based, or Kotlin based unit/integration tests in IntelliJ. Or you might try to use the [Python-Client](https://github.com/sirixdb/sirix-python-client) for instance.

[2020-11-05 11:55] JohannesLichtenberger commented on #86
I hope this helps :)

[2020-11-07 15:32] AlvinKuruvilla opened #361 "Implement a Golang client"
### Feature idea
I think it would be a good idea to implement a Go client, If there is interest I would probably go off both the Python and /or Rust client. I'm new to Go so it will probably take me a while, but I think this will be a good experience and also give me a way to contribute to this great repo

[2020-11-08 22:58] JohannesLichtenberger commented on #361
@AlvinKuruvilla, that's great :-) let me and @mosheduminer know if you need help. You can have a look into the [Python-client](https://github.com/sirixdb/sirix-python-client).

[2020-11-10 22:34] AlvinKuruvilla commented on #361
Thanks @JohannesLichtenberger
Here is the link to the GitHub repo, it's still kind of barebones but the basic structure should mostly be in place
https://github.com/AlvinKuruvilla/Sirix-Go

[2020-11-10 22:41] mosheduminer commented on #361
Excellent @AlvinKuruvilla! I'm following development 🙂.

[2021-01-18 15:15] mosheduminer opened #373 "Feature Request - sdb:path(...) xquery function"
### Feature idea

It should be possible to retrieve the path in the resource tree to a particular node. This will be useful for the frontend in https://github.com/sirixdb/sirix-svelte-frontend/issues/258, so that the path to a diff may be determined even if the node it is relevant to is not yet loaded (due to lazy loading).

[2021-02-14 13:01] EduRibeiro00 commented on #337
@JohannesLichtenberger is help still wanted for this issue?

[2021-02-15 00:47] JohannesLichtenberger commented on #337
Yes, of course. Any help is always welcome :-)

You may use the `PathSummary` if it's built to check the entire path for arrays. If there's no array, you can simply use the path more or less replacing `/` with the deref operator `=>`.

[2021-02-17 09:55] JPDSousa commented on #343
Hey @JohannesLichtenberger

Do you have a plan for this in mind? I did walkthrough at the code (mostly sirix-core), and this looks like an interesting challenge! If you haven't thought about this much so far, let me share some of my experience in past DI related challenges:

1. Get right of as many static state/methods as possible, as static dependencies go against injected dependencies. This migh

[2021-02-17 12:22] JohannesLichtenberger commented on #343
I haven't thought about it in depth, but I think it would be great especially for future refactoring work (splitting the `NodeTrx` implementations / adding dedicated classes for insertions/updates/deletes...) and then in order to simply mock dependencies of units for unit tests.

However, I'm not entirely sure if in depth unit testing would be a great thing or if it would make refactorings harder,

[2021-02-17 19:02] JPDSousa commented on #343
Alright 👍

I'm gonna try to pick this up by first finding some low hanging fruit for static references or state that can be injected (based on your suggestions). Hopefully that will allow me to progress to point 2. Do you think I should link future PRs to this issue or do you prefer to have 1 refactor per github issue?

[2021-02-17 19:48] JohannesLichtenberger commented on #343
I think the static references might hopefully be only used for static helper methods, which have no state or internally to set JVM instance wide variables (`Databases` for instance is the main entry point to create, open and delete databases). But for instance I wanted to omit factories for instance when we introduce `InsertionCommand`, `UpdateCommand`, `DeletionCommand` as dependencies of `JsonNo

[2021-02-17 19:54] JohannesLichtenberger commented on #343
I think you can create separate issues and link the PRs to these issues 👍

[2021-02-20 18:44] JPDSousa commented on #282
Hey @JohannesLichtenberger can you elaborate here? Can't find a reference to this "temp JSON file"

[2021-02-20 23:55] mosheduminer commented on #282
@JPDSousa when a resource (or multiple resources) are uploaded to the API server, the API server first writes the data to a temporary file, and when the data is fully loaded, it is then loaded into a SirixDB resource. You can see this happening in [this method](https://github.com/sirixdb/sirix/blob/fa3529b514c56fa5ca52e72b5d7731bb9fa05cf6/bundles/sirix-rest-api/src/main/kotlin/org/sirix/rest/crud/

[2021-02-22 08:48] JohannesLichtenberger commented on #282
As @mosheduminer already said, we can skip the part where we first store the whole JSON data in a temporary file and then import the file in SirixDB. Instead, we could use the Vert.x streaming JSON parser to omit the creation of the temp file in the first place and to stream data directly into a SirixDB database resource.

[2021-02-23 09:54] #343 closed

[2021-02-24 12:26] JPDSousa opened #382 "Extract database session management to an isolated dependency"
### Feature idea

At this point, database session management via [Databases](https://github.com/sirixdb/sirix/blob/master/bundles/sirix-core/src/main/java/org/sirix/access/Databases.java#L37), which acts as the API entrypoint for the system. This introduces unnecessary coupling in the class, and also makes testing harder. There is actually a tiny concurrency bug in the way we register new sessions

[2021-02-24 17:35] #297 closed

[2021-02-24 17:47] JohannesLichtenberger commented on #289
@yang-feng-yfeng we don't need a "real" transaction log, which is shared among transactions as of now, as transactions currently are resource wide and not database wide (and in a trx internal in-memory log). Furthermore there's one a single active read-write trx per resource and the root of our tree of tries structure is swapped atomically.

Thus, I'd probably rather think, that a Kafka log could

[2021-02-24 21:17] #382 closed

[2021-02-25 09:28] JPDSousa opened #384 "Merge both local database implementations into one"
### Code quality proposal

At this point, both [LocalJsonDatabase](https://github.com/sirixdb/sirix/blob/master/bundles/sirix-core/src/main/java/org/sirix/access/LocalJsonDatabase.java) and [LocalXmlDatabase](https://github.com/sirixdb/sirix/blob/master/bundles/sirix-core/src/main/java/org/sirix/access/LocalXmlDatabase.java) are 100% duplicated. Hence, we should refactor both these classes, as wel

[2021-02-25 09:53] #384 closed

[2021-02-25 10:28] JohannesLichtenberger commented on #282
@JPDSousa, I think we have to refactor the rest-api module at some point, as almost all stuff is simply duplicated between the XML databases and JSON databases... it basically was a quick hack to get the API server up and running (plus I wanted to try Kotlin + Coroutines and Vert.x ;). I think we more or less are able to encapsulate the functionality for both database types again in one class (Get

[2021-02-25 11:03] mosheduminer commented on #282
If a refactor of the REST module is done, please keep ib mind fhe open issues related to it. Such as #254, #286, #319.

[2021-03-03 13:56] JohannesLichtenberger commented on #289
@yang-feng-yfeng, do you have more questions? I'm sure you'd need further help, so I'd be happy to help :)

[2021-03-09 16:04] KuhanPrakash commented on #114
Hi @JohannesLichtenberger is this issue still open to take? I am new to Open Source and would love to take up this issue as my first OS contribution. I would also be asking guidance if you don't mind as OS is still new to me.

[2021-03-15 14:52] JohannesLichtenberger commented on #114
@KuhanPrakash, sure, it's still open :-)

[2021-04-14 09:54] adnanmorsy97 commented on #114
Hi @JohannesLichtenberger is this issue still open ? I’m interested in the topic and would like to take the issue :)

[2021-04-14 10:01] adnanmorsy97 commented on #95
Hi @JohannesLichtenberger I’m interested in SirixDB and would like to help/support you. Can you exactly tell me, what you mean with “spread the word” ?

[2021-04-14 10:05] adnanmorsy97 commented on #86
Hi @JohannesLichtenberger is this issue still open ?

[2021-04-14 10:26] JohannesLichtenberger commented on #114
Sure, that's awesome :)

[2021-04-14 10:39] adnanmorsy97 commented on #114
I’m happy to hear that. Can you please assign me to this issue. Thank you :)

[2021-04-14 10:46] JohannesLichtenberger commented on #86
Yes, still open

[2021-04-14 10:55] adnanmorsy97 commented on #86
@JohannesLichtenberger  Perfekt! Can you please assign me to this issue. Thank you :)

[2021-04-26 15:21] adnanmorsy97 commented on #86
Hey @JohannesLichtenberger, I have read your documentary and found some spelling and grammar mistakes. I have already forked your project and would like to know what my next steps should be. I have noticed, that there is a link in the documentary where I can do some changes in the documentary. Should I use this link ? Do I need to create a new branch for this issue ?

[2021-04-26 15:27] mosheduminer commented on #86
@adnanmorsy97 unless you have permissions to the repository, you would not be able to make changes without forking and creating a PR. That being so, I don't believe that you would be able to commit changes using that link. It simply takes you to an editing page, and it will probably create a fork for you when you wish to save your changes.

[2021-04-26 15:47] adnanmorsy97 commented on #86
@mosheduminer thanks for your answer. That means, that I should use the link and after I did some changes in the documentary, I should create a PR ?

[2021-04-26 15:49] mosheduminer commented on #86
Honestly, I'm not sure exactly how the link works. I assume that if you try to save changes through that link, it will automatically show you a page to create a PR. So if you want to, sure, use the link.

[2021-04-26 17:41] JohannesLichtenberger commented on #86
Yes, I believe what @mosheduminer wrote is true :-)

[2021-04-27 18:04] adnanmorsy97 commented on #86
Hey @JohannesLichtenberger, I have read the entire documentation and fixed all the mistakes, that I have found. I also made a PR. You can find my work in the following links:

1. https://github.com/sirixdb/sirixdb.github.io/pull/14

2. https://github.com/sirixdb/sirixdb.github.io/pull/16

3. https://github.com/sirixdb/sirixdb.github.io/pull/17

4. https://github.com/sirixdb/sirixdb.github.io/pull/

[2021-07-03 11:26] saygindikbayir commented on #93
Hey, actually I would like to contribute. May you guide for starting?

[2021-07-05 22:25] JohannesLichtenberger commented on #93
You could first setup SirixDB either in an IDE and run some tests to get a bit familiar with the project while debugging or to use a client and setup the HTTP-server with Keycloak (https://sirix.io/rest-api.html) and then use the Python Client if you like to.

[2021-07-05 22:28] JohannesLichtenberger commented on #93
You can write bug reports along the way, ask for help setting up SirixDB and maybe first write test cases to get familiar with the project.

[2021-07-11 23:04] #283 closed

[2021-07-19 10:03] nbrugger-tgm commented on #361
As far as I understand you mean a Go lib accessing the ReST api?

In this case the client might even be easy to auto-generate using techniques like open api generator depending on the API specification standard used (RAML, OAS, blueprint). This way it would be low to no effort to keep many different client languages up to date and also to support many languages like nodejs , python, Java, go, c++

[2021-07-19 10:18] mosheduminer commented on #361
Currently we have no machine readable specification document, and we would need to write it by hand as well (due to the nature of vertx). So in theory we could use any.

However -

How do these generated clients handle auth? The biggest (perhaps only) challenge when implementing the client is auth. I don't want the client to need to retrieve credentials before every request. In addition, we must c

[2021-07-19 21:22] JohannesLichtenberger commented on #361
@nbrugger-tgm, I guess it would be great to have a Swagger-file and auto-generate clients. However, I also had some trouble with authentication / authentification when I once did some tests regarding another project / API.

[2021-07-20 13:10] nbrugger-tgm commented on #361
@mosheduminer

Yes and no, you have to **do** it by hand but not **writing** it per had. As for OAS/Swagger there are quite a few WYSIWYG editors such as Stoplight Studio (free). I would go with OAS but that might be biased

Well in the case of OAS you have different options, (OAuth, Bearer) and API tokens where you just define a (querry, path or header) parameter that has to be present on certain

[2021-07-20 15:09] JohannesLichtenberger commented on #361
@nbrugger-tgm I think it probably isn't an issue because of our JWT token based auth. At work I had some trouble getting the session-ID stuff right and the generated Java client was a bit "ugly" in comparison to "hand-written" code. But I think it would be a great contribution to create an OpenAPI based spec and auto-generate clients as for instance for our main language Java (as well as Kotlin) :

[2021-07-26 21:01] AlvinKuruvilla commented on #361
Yeah, that's true @JohannesLichtenberger. In that vein, any assistance on the Golang client would be greatly appreciated. It sort of fell to the side for me due to other projects and general life. There is nothing in particular but more of just general contributions and more Go paradigm style coding. The OpenAPI idea sounds really cool I am going to see if there is anything I can contribute but th

[2021-08-15 17:30] DSkilton commented on #251
Hiya. Can I have a crack at this, please?

[2021-08-15 17:56] mosheduminer commented on #251
@DSkilton I think @JohannesLichtenberger is unavailable right now, but I would suggest you try to go ahead.

[2021-08-15 20:32] DSkilton commented on #251
@mosheduminer will do. @JohannesLichtenberger mentioned there is a Python and TypeScript client already, do you know where/ how I can access them

[2021-08-15 20:38] mosheduminer commented on #251
@DSkilton they are in separate repositories in this (sirixdb) github org. Links:
https://github.com/sirixdb/sirix-python-client
https://github.com/sirixdb/sirix-typescript-client
https://github.com/sirixdb/sirix-rust-client

Each of these uses a slightly different approach (for example, with regards to auth), and the python client even implements an additional "JsonStore" abstraction (which you sh

[2021-08-17 08:48] DSkilton commented on #251
@mosheduminer I spent yesterday reading around IntelliJ modules and believe I correctly created a new module for the HTTP client but it made me realise I may need some tutorage. Do you have time to mentor me for this project?

[2021-08-17 10:00] mosheduminer commented on #251
@DSkilton we generally use slack for communications, you can DM me there. You can find out slack in the README. you may also want to look at the docs at http://sirix.io.

[2021-08-20 18:28] JohannesLichtenberger commented on #251
@DSkilton I guess https://sirix.io/rest-api.html should be of some help regarding this issue. Also the https://github.com/sirixdb/sirix-python-client might be of some help :+1: I might look into the slack channel every now and then, but currently I'm in holidays until the end of next week.

[2021-09-16 15:59] JohannesLichtenberger opened #432 "Update to Java 17"
We should update the project to Java 17.

[2021-09-19 23:05] pavluchenko commented on #432
Hi, I would like to look on this. Can you please assign to me this issue?

[2021-09-28 04:44] YuraTy commented on #285
Good day.  I want to contribute to the development, but I have little experience in this, please tell me where I can start?

[2021-09-29 16:43] JohannesLichtenberger commented on #285
Hi @YuraTy, actually I can close this issue, as I've implemented it some time ago.

The AST is traversed and appropriate child chains of deref nodes are searched and replaced through a single `IndexExpr` AST node which fetches the appropriate nodes at runtime.

https://github.com/sirixdb/sirix/blob/master/bundles/sirix-xquery/src/main/java/org/sirix/xquery/compiler/optimizer/walker/json/JsonObject

[2021-09-29 16:43] #285 closed

[2021-09-29 16:44] JohannesLichtenberger commented on #432
@pavluchenko seems you won't have tine to work on the issue?

[2021-09-30 06:17] Rishavgupta12345 commented on #432
i world like to work on this

[2021-09-30 06:43] Rishavgupta12345 commented on #114
can i work on this issue

[2021-09-30 06:44] Rishavgupta12345 commented on #109
can i work on this ?

[2021-09-30 06:45] Rishavgupta12345 commented on #91
can i work on this issue

[2021-09-30 06:48] Rishavgupta12345 commented on #86
can i work on this issue

[2021-09-30 06:50] Rishavgupta12345 commented on #85
i want to work on this issue . can you please explain a bit more about this issue

[2021-09-30 06:51] Rishavgupta12345 commented on #60
i want to work on this issue . can you please explain a bit more about this

[2021-09-30 07:35] JohannesLichtenberger commented on #432
Sure, give it a try :)

[2021-10-01 20:48] #282 closed

[2021-10-03 05:07] Sanket-777 commented on #86
is this issue still open

[2021-10-03 22:39] JohannesLichtenberger commented on #86
sure, it's still open :)

[2021-10-05 14:58] JohannesLichtenberger commented on #109
@Rishavgupta12345 sure, give it a try :)

[2021-10-25 19:57] JohannesLichtenberger opened #440 "Fix Sonar issues"
https://sonarcloud.io/summary/overall?id=sirixdb_sirix

[2021-11-24 13:59] #432 closed

[2021-11-30 05:27] gourcool commented on #114
@JohannesLichtenberger  I am new to open source can you please assign this issue to me

[2021-11-30 05:28] gourcool commented on #87
@JohannesLichtenberger Can i work on this

[2021-12-02 10:17] mosheduminer opened #447 "Allow setting (monotonically increasing) timestamps explicitly"
### Feature

Currently all timestamps are set by the system. We should make it possible to configure a resource to allow setting the timestamp explicitly (so long as it is later than the previous timestamp).

### Motivation

This will allow replication data from another database to a SirixDB instance, enabling the use of SirixDB as an secondary (analytics) databse.

### Suggested API

For resource

[2021-12-02 10:19] mosheduminer commented on #447
It might be useful to throw an error if the explicit timestamp is in the future, as this would usually indicate a user error.

[2021-12-12 07:49] gvdutra commented on #440
Hello @JohannesLichtenberger Can I work on this? I am available to fix a few sonar issues. thanks.

[2021-12-12 09:52] JohannesLichtenberger commented on #440
Of course :-)

[2021-12-16 12:53] JohannesLichtenberger commented on #447
It's possible with the exception of the create XQuery functions, as they internally use a Store which can be implemented by other systems besides SirixDB and I think this is a special case. But if really needed of course we could add methods in the interface in Brackit.

[2021-12-17 22:29] #447 closed

[2021-12-20 19:13] JohannesLichtenberger commented on #373
This is implemented as:

`sdb:path($doc as xs:structured-item) as xs:string` so you'd get something like `/foo/bar/@baz` for `<foo><bar baz="ddd"/></foo>` or `/foo/bar` for `{"foo": {"bar":true}}` or `/foo/[]/bar` for `{"foo": [{"bar":true}]` IIRC.

[2021-12-20 19:15] JohannesLichtenberger commented on #319
Should be implemented now...

[2021-12-20 19:15] #319 closed

[2021-12-20 19:16] mosheduminer commented on #373
@JohannesLichtenberger if I'm not mistaken, the problem with that is that there is no indexing for json arrays. `/foo/[0]/baz` would be needed for the frontend use-case.

[2021-12-20 19:17] #252 closed

[2021-12-20 19:18] #83 closed

[2021-12-20 19:19] JohannesLichtenberger commented on #80
Implemented by @mosheduminer in the Svelte GUI repository.

[2021-12-20 19:19] #80 closed

[2021-12-20 19:20] JohannesLichtenberger commented on #373
Ah, thanks for the reminder.

[2021-12-20 21:54] #373 closed

[2021-12-20 21:55] JohannesLichtenberger commented on #373
It's now implemented :-)

[2021-12-22 19:37] JohannesLichtenberger opened #456 "Faster evaluation of =>objectField1=>objectField2 chains"
We can use the concurrent axis with a special axis to retrieve all fields with the appropriate name as a child or indirect descendant (inside arrays). This should be faster on flash storage / PMEM due to fast parallel I/O.

Of course adding appropriate indexes is faster, but if they are missing we'd have this faster fallback.

[2021-12-22 19:39] JohannesLichtenberger opened #457 "Add a ==> operator to dereference descendant fields"
The queries would be easier to write if we add a descendant operator to find all fields with a given name in the whole subtree of a node.

[2022-01-10 23:50] JohannesLichtenberger opened #464 "I/O layer implementation with Channels"
Use a RAF but share a channel between all readers and the single writer.

[2022-01-12 01:54] JohannesLichtenberger opened #465 "Git hook to autoformat source code"
We need a pre commit hook or something like that to auto-format code according to our IntelliJ Java Formatter or the Kotlin standard code formatting rules.

[2022-01-17 17:46] gvdutra opened #467 "Replace JSR-305 for checkerframework"
### Feature idea

http://findbugs.sourceforge.net/index.html has not been maintained anymore it stops on java 8. People are now using spotbugs which is a fork and continuation of findbugs. https://spotbugs.github.io/

The idea here is to replace findbugs artifactory for spotbugs.

[2022-01-17 17:47] gvdutra commented on #467
@JohannesLichtenberger can you please assign it to me? Thank you.

[2022-01-17 17:49] JohannesLichtenberger commented on #467
Sure, thanks a lot for your contributions :+1:

[2022-02-07 09:09] omegaspard commented on #465
Can I work on this ? To be honest I'm reading the project since a few day and I really would like to participate. I'm new to open source contribution, I don't even know if I have to ask that way.

[2022-02-07 18:01] JohannesLichtenberger commented on #465
Sure, I'll have to upload the formatter later on.

[2022-02-09 02:15] gvdutra commented on #467
Yes! I will do it, sorry I am a bit busy.... :)

[2022-02-09 02:16] gvdutra commented on #465
Welcome omegaspard :)

[2022-02-10 08:21] JohannesLichtenberger commented on #467
No pressure, just wanted to ask ;)

[2022-02-14 04:27] gvdutra commented on #467
@JohannesLichtenberger sirix project is using JSR-305 for the annotations, not the "entire" findbugs, so the spotbugs is not ideal as still uses JSR-305.

JSR-305 is in dormant status even at spotbugs it says that to keep using JSR-305 from findbugs. , so that I was searching for a better solution, and I found it! there is a project called https://checkerframework.org/manual/ that is sort of slf4j

[2022-02-16 10:42] #467 closed

[2022-02-18 21:45] JohannesLichtenberger opened #479 "Simple CLI"
SirixDB as Brackit currently offers a "one-shot" query through params or STDIN, but we should provide a simple CLI tool, which can execute several queries in a row.

See also https://github.com/sirixdb/brackit/issues/32

[2022-03-26 14:30] JohannesLichtenberger opened #483 "Switch to Java 18"

[2022-04-17 19:50] #457 closed

[2022-04-17 19:50] #483 closed

[2022-04-26 22:37] JohannesLichtenberger opened #490 "CLI for interactive exploration of JSON or XML resources"
The idea is to navigate and have commands similar to a shell: https://news.ycombinator.com/item?id=31173562

[2022-04-26 22:39] JohannesLichtenberger commented on #490
Another CLI like this: https://github.com/antonmedv/fx

[2022-06-01 15:20] JohannesLichtenberger commented on #490
Yes, it's a database backed shell, as SirixDB can store arbitrary amounts of data in a single database resource (more than 4Gb for instance).

@mosheduminer however also began to rewrite our web based frontend. The functionality IMHO would be a bit overlapping.

We already have a small Kotlin CLI where we might be able to add interactive exploration of a resource. I think, however that the fronten

[2022-06-01 16:53] AlvinKuruvilla commented on #490
Personally, I think interactive JSON viewing should be something left for the front end. Since we are getting JSON or XML responses anyway, I feel it would be simpler to pipe the results to jq for prettier viewing in a terminal setting. There are also already [react](https://www.npmjs.com/package/react-json-view) (and svelte, though not too sure about usability) packages for interactive JSON viewi

[2022-06-01 18:23] JohannesLichtenberger commented on #490
I think however, one of the main benefits of SirixDB is also, that you can simply include it as a dependency in other JVM languages.
Furthermore you should be able to use SirixDB locally without any network latency. That's why I think that we need an additional shell (`bundles/sirix-kotlin-cli`) that can be used without starting the HTTP-server. In this case you don't even necessarily retrieve the

[2022-06-02 12:44] AlvinKuruvilla commented on #490
I see what you mean: If we are able to store our data locally in a DOM style tree structure we could serialize it into a JSON or XML format if I understand correctly. I think it would also be interesting if instead of doing an interactive JSON viewer we stuck with the DOM/graph style and did an app where you can select data (nodes and the like) and run interactive queries that way (just a thought)

[2022-06-02 13:16] JohannesLichtenberger commented on #490
Our idea was to make an initial query whereas the result set has to be a single item (JSON item or XML node). Each node in SirixDB has a unique, stable `nodeKey` in all revisions. Thus, we can based on this `nodeKey` visualize a subtree and it's diffs for instance in a tree-view (the right view in the screenshot).

[2022-06-02 15:55] AlvinKuruvilla commented on #490
Yeah, I'm not too experienced with frontend work either, but in the meantime, I could work on a command-line style app to try and achieve a similar purpose (though I would probably end up writing it in Python because that's what I am more familiar with). Having a tool like this accessible through the command line is still worthwhile. Now I have to understand how and where Sirix stores its data and

[2022-08-08 19:47] JohannesLichtenberger opened #512 "Optimize SirixDeweyId.toBytes-method"
We can probably use the new Vector API to use explicit SIMD instructions.

[2022-08-12 12:15] IlayMenahem commented on #512
hi i'm new to open source contributing; i read about SIMD and i can help on this task.
also can you direct where exactly is SirixDeweyId.toBytes-method.

[2022-08-12 22:51] JohannesLichtenberger commented on #512
The class is called `SirixDeweyID` and the method is the `toBytes(int[])`method. We've optimized the method a bit and optimized other stuff in regards to storage of these hierarchical IDs. Runtime is approximately on my Notebook now around 5 minutes for importing a 3.8 Gb file with the generation of these IDs enabled (without it needs around 3:42m with hashes enabled in both cases). I'm currently

[2022-08-12 22:52] JohannesLichtenberger commented on #512
It would probably a good start to profile the mentioned testChicago-method and switch on/off the DeweyID generation.

[2022-08-14 22:06] IlayMenahem commented on #512
i've tried to use the test with and without @ignore, both times i got the same message. i also tried to find if there is any special guidance on how to conduct test and there wasn't.

The supplied phased action failed with an exception.
A problem occurred configuring root project 'sirix-parent'.
Failed to notify project evaluation listener.
A problem occurred configuring project ':sirix-core'.
A p

[2022-08-15 19:03] JohannesLichtenberger commented on #512
Can you try executing using IntelliJ?

[2022-08-24 21:08] JohannesLichtenberger opened #516 "Switch to newest Kotlin version (regarding bundle `sirix-rest-api` and `sirix-kotlin-cli`"

[2022-08-24 21:09] JohannesLichtenberger opened #517 "Update Vert.x to newest version"
Some stuff has been deprecated, so it might not be that trivial, but I guess it should also be a good first issue.

[2022-08-24 21:11] JohannesLichtenberger opened #518 "Clean architecture: Extract scattered trie implementation into a reader and a writer which extends the reader."

[2022-08-24 21:11] JohannesLichtenberger opened #519 "Clean architecture: Make"
### Feature idea

[2022-08-24 21:32] JohannesLichtenberger opened #520 "Balanced binary search tree: replace the tree with a rather huge array for read-only accesses"
Meaning a more cache-line friendly variant for a static balanced binary search tree (RedBlack tree).

As an alternative to storing this search tree structure for our secondary indexes in our trie (the RedBlack tree nodes are stored in the leaf nodes of our tries) and fully reconstructing it in memory, we could add a persistent adaptive radix trie that replaces the trie and the RedBlack tree. The a

[2022-08-24 21:37] JohannesLichtenberger opened #521 "`sirix-benchmarks` bundle currently not working"
We should enable the bundle again and get it working thus that we can add much more benchmarks.

[2022-08-24 21:38] JohannesLichtenberger commented on #479
Work on the CLI has already been started: `sirix-kotlin-cli`.

[2022-08-24 21:46] JohannesLichtenberger opened #522 "Performance (regression) tests"
We have to add performance regression tests.

Furthermore, we at first have to import and query large JSON files. It's not clear to me how usually these tests are automatically run as Github LSF might not even store really big files.

[2022-08-24 21:48] JohannesLichtenberger opened #523 "Refactor `sirix-rest-api` bundle and extract more common logic between XML and JSON stuff"

[2022-08-24 21:48] mosheduminer commented on #522
It might be worth generating them (in a determistic fashion) before the tests, rather than storing them.

[2022-08-24 21:59] JohannesLichtenberger commented on #522
They shouldn't fit in main memory, however, so they have to be stored at least directly in SirixDB

[2022-08-24 22:08] mosheduminer commented on #522
Right, but it should be possible to generate the file anyway though, right? Similar to xml/json stream processing.

[2022-08-24 22:13] JohannesLichtenberger commented on #522
Good point, we'd have generated deterministic data instead of real-world huge datasets, but maybe that's okay :-)

[2022-08-25 21:46] JohannesLichtenberger opened #525 "Crash during a commit: truncate data file to last successfully written revision"
The first thing during a commit is to create an empty file `.commit` which denotes that a commit is running. It's deleted once the trx has made its data durable/synced to durable storage. If it still exists once, a read-write trx is created the next time at first the changes made during the crash have to be removed (truncate the file to the last successfully written revision), and the `.commit` fi

[2022-08-26 20:58] #525 closed

[2022-09-05 11:51] JohannesLichtenberger opened #528 "Store records in off-heap memory"
In order to keep GC to a minimum (despite of low latency Garbage Collectors as for instance Shenandoah), we could try to store the records/nodes off-heap using the foreign memory API for instance, and compare performance.

[2022-09-11 01:11] redwanulsourav commented on #523
Hi, I would like to work on this issue.

[2022-09-11 07:17] JohannesLichtenberger commented on #523
Give it a try :-) the code base is rather small, but let me know if you need assistance.

[2022-09-15 13:15] yeohbraddy commented on #512
Hi,

If @IlayMenahem is no longer working on this, I'd like to contribute! It is my first time contributing to open source so apologies if this is against etiquette.

Thank you!

[2022-09-17 14:47] JohannesLichtenberger commented on #512
Sure, thanks :-) I'm also thinking about not storing `DeweyIDs` for object field values to reduce storage and CPU processing costs. I'm currently still on holiday with my small tablet so I can't code right now.

[2022-09-18 08:44] JohannesLichtenberger commented on #512
@yeohbraddy I guess it's perfectly fair to assume, as in my experience after a week or more without any comments/PRs etc.pp. the user hasn't had time or something like that to work on the issue.

[2022-09-26 19:55] JohannesLichtenberger opened #534 "Update to Java19"
Update SirixDB to Java19.

[2022-09-27 09:51] haseeb-xd commented on #534
I want to do this. I just need to make sure that i only have to update the version in pom.xml file right?

[2022-09-27 11:55] JohannesLichtenberger commented on #534
No, actually in the gradles build file plus maybe API changes from the Foreign Memory API, changing the Github Action, the Dockerfile...

[2022-10-02 13:06] alky003 commented on #534
Hi @JohannesLichtenberger  this is my first time contributing could you please tell me exactly what I have to do?
thanks.

[2022-10-02 15:06] ganeshannt commented on #534
hey @alky003  below PR changes may help you to do this one
https://github.com/sirixdb/sirix/issues/534

[2022-10-02 18:28] Yashsomalkar commented on #114
Hey @JohannesLichtenberger, I am a new budding contributor. Is there still scope for documentation improvement?
If so, can you let me know how I can get to know 😅.

[2022-10-03 19:49] fMurugi commented on #534
Hi I would like to work on this.

[2022-10-04 05:23] anuragparla commented on #95
@JohannesLichtenberger Could you please explain this? I'm not sure how to spread the word on Github.

[2022-10-05 06:16] Yashsomalkar commented on #114
Ok thanks for assigning I am working on it .

[2022-10-07 15:14] this-Aditya commented on #85
can i work on this issue

[2022-10-07 21:33] JohannesLichtenberger commented on #95
Spreading the word in general. Guess it's task we'll never be able to close ;-)

[2022-10-08 23:12] artwo commented on #534
Hey @JohannesLichtenberger please also consider me to contribute to this issue if @this-Aditya is not able to do it ;)

[2022-10-08 23:21] artwo commented on #109
Hi @JohannesLichtenberger what is the scope of this refactor? Is there a list of classes, packages or specific areas? Or is the refactor in the entire code base?
I would like to contribute to this issue, but its description is not very detailed and it could lead to an endless amount of work.

[2022-10-08 23:25] artwo commented on #109
I could recommend to create different issues with specific goals in mind. For example, increase the amount of unit tests for a given flow. In this way there is a clear objective to follow and it also guides the contributor on what to do.

[2022-10-08 23:39] artwo commented on #91
Hi @JohannesLichtenberger I would like to work on this issue, so could you please assign me?
Also I see a lot of code to change for this, so I hope you don't mind if I submit multiple PRs to divide the migration to kotlin by sections in the bundle.

[2022-10-10 00:19] JohannesLichtenberger commented on #91
Hi @artwo, what do you think about instead to providing a Kotlin based client for the HTTP-server first or a Kotlin DSL?

[2022-10-10 00:47] artwo commented on #91
@JohannesLichtenberger sounds good, please assign me to the respective issue!

[2022-10-10 00:48] JohannesLichtenberger commented on #109
I think the worst is that the document index trie is scattered over multiple classes (`NodePageReadOnlyTrx`, the different pages in the according layer which have methods as the `CASPage::createCASIndexTree` to create one initial layer index tree with an indirect page and the `TreeModifierImpl`. I think as with the other layers, the page read/write layer, the I/O layer... we should simply have a `

[2022-10-10 00:59] JohannesLichtenberger commented on #91
Can you comment over here? I can assign you afterwards :-)

 https://github.com/sirixdb/sirix/issues/251

[2022-10-10 09:20] artwo commented on #91
"over here" :)

[2022-10-10 09:21] artwo commented on #251
"over here" @JohannesLichtenberger :)

[2022-10-11 23:27] JohannesLichtenberger commented on #534
@this-Aditya should @artwo work on the task? I'd probably like to try virtual threads for parallel I/O.

[2022-10-11 23:33] artwo commented on #534
Please give it time while I work in the other issue.

[2022-10-12 01:14] this-Aditya commented on #534
Ya sure

[2022-10-12 10:53] mosheduminer commented on #251
There was actually some work done on a branch in the sirix-kotlin-client repo. You may be able to reuse it.

[2022-10-12 16:46] artwo commented on #251
Thanks for the suggestion, but I have already some progress in another branch. So I'll see what i can reuse from there.

[2022-10-12 18:34] Suhas2002 commented on #114
Hey @JohannesLichtenberger
Can you assign this to me if there has been no progress by the person you assigned before?

[2022-10-12 18:36] Suhas2002 commented on #93
Hey @JohannesLichtenberger
I can help with testing

Give me more information on this please

[2022-10-12 18:50] JohannesLichtenberger commented on #93
You can for instance add tests to import and serialize JSON documents `JsonShredderTest` and `JsonSerializerTest` IIRC, add query tests (`JsonIntegrationTest`) and try to start a server and issue queries use the Python client for instance: https://github.com/sirixdb/sirix-python-client

[2022-10-12 19:14] JohannesLichtenberger opened #536 "Alternative I/O backend using io_uring on Linux"
in a package named `org.sirix.io.iouring` for instance and implement a `Reader`, `Writer` and Storage analogous to the other packages in `org.sirix.io`.

[2022-10-12 22:03] JohannesLichtenberger commented on #536
Maybe using https://github.com/ikorennoy/jasyncfio until Java's standard I/O supports io_uring the additional backend might be really helpful :-)

[2022-10-13 11:40] akhil9281 commented on #521
Hello @JohannesLichtenberger, I am new here, can you please elaborate the issue?

[2022-10-13 12:06] JohannesLichtenberger commented on #521
The tests are currently not even found. But I think it would be better to copy the code in a new repository instead of a module and use Maven instead of Gradle (I guess it's the preferred way).

[2022-10-13 22:20] JohannesLichtenberger opened #537 "Support for realtime web"
Meaning in a first step we should stream the data changes for a resource to interested clients (we could just stream the JSON we generate, which stores a change track).

In a second step we can support queries, which only query one resource. Thus, naively we'd probably have to execute the query/queries asynchronous once a trx has been flushed to disk and check that only result nodes in the curre t

[2022-10-13 22:21] JohannesLichtenberger commented on #537
How does RethinkDB implement this?

[2022-10-13 22:23] mosheduminer commented on #537
I wonder if looking at https://github.com/pubkey/event-reduce would be helpful.

[2022-10-13 22:58] JohannesLichtenberger commented on #537
Thanks Moshe, do yohh understand the basic algorithm they are using? Maybe it's too late currently, but I don't get how they determine if a new record from a change event is a query result or not.

[2022-10-13 23:05] mosheduminer commented on #537
I don't know, I haven't really looked at the implementation. So I only know what it says in the readme.

[2022-10-14 05:54] Suhas2002 commented on #114
Hey @JohannesLichtenberger, I'm not able to find the documentation file in the repo
Can you please guide me

[2022-10-16 02:55] sourabhkashyap95 commented on #536
Hey @JohannesLichtenberger, planning to work on this issue.
Do we have any other lib implemented on io_uring? Also, like to make small changes related to a typo, but I think I don't have access to push changes.

[2022-10-17 18:07] JohannesLichtenberger commented on #536
I have recently started an issue over here how to proceed as it's not entirely clear to me: https://github.com/ikorennoy/jasyncfio/issues/66

First of all I think we should switch to Java 19 and use virtual threads.

[2022-10-21 22:25] JohannesLichtenberger commented on #536
@sourabhkashyap95 I've added a blocking version which has to be adapted (and even the blocking version has at least one bug and is currently not working): https://github.com/sirixdb/sirix/tree/master/bundles/sirix-core/src/main/java/org/sirix/io/iouring

In order to debug the tests you can simply change the `STORAGE_TYPE` in `ResourceConfiguration` to `StorageType.IO_URING`

[2022-10-21 23:08] #534 closed

[2022-10-22 09:38] JohannesLichtenberger opened #541 "Adapt the keycloak startup script"
We first have to check if an admin user already exists in this script: https://github.com/sirixdb/sirix/blob/master/bundles/sirix-rest-api/src/test/resources/create-sirix-users.sh

[2022-10-23 07:20] sourabhkashyap95 commented on #536
@JohannesLichtenberger , will go through the thread once, and will check with you in case of any dobts.

[2022-10-26 10:04] Aditya31398 commented on #541
Hi @JohannesLichtenberger, I am a first timer. Can I work on this?

[2022-10-26 14:28] JohannesLichtenberger commented on #541
Sure :-)

[2022-10-27 00:14] JohannesLichtenberger commented on #536
@sourabhkashyap95 maybe you can debug reading/writing of page fragments (the variable length of a page -- for instance the UberPage currently is 27, but when read it's a bigger integer). I thought about byte order issues, as currently it's written in big endian, but read in little median byte order on my machine. But even if we're not using the native byte order for the ByteBuffers the bug persist

[2022-10-27 09:31] Aditya31398 commented on #541
Hi @JohannesLichtenberger, can you brief over the issue and let me what changes are required?

[2022-10-27 10:53] sourabhkashyap95 commented on #536
@JohannesLichtenberger Currently I am trying to build the project but its failing, I think with this message `/usr/local/bin/docker-compose: line 1: Not: command not found`
It seems like docker-compose issue, currently, I am on Apple M1 pro chip, osx-x86_64 architecture.

[2022-10-27 11:10] JohannesLichtenberger commented on #536
You don't need Docker Compose. You can fork the repo, clone and open it in your IDE as a gradle project. Then you might make the aforementioned change and set breakpoints in the `IOUringReader` and `IOUringWriter` for instance when writing and reading the `UberPage`.

[2022-10-31 08:17] JohannesLichtenberger commented on #541
The user should only be added if the user hasn't been added before, thus, first check if user exists, if not create the user

[2022-10-31 12:04] slashgk commented on #440
Hi @JohannesLichtenberger Raised a PR: https://github.com/sirixdb/sirix/pull/545

[2022-11-04 17:47] JohannesLichtenberger commented on #541
@Aditya31398, do you like and have time to work on the issue?

[2022-11-04 17:48] JohannesLichtenberger commented on #536
@sourabhkashyap95 hope it helps

[2022-11-04 17:48] JohannesLichtenberger commented on #523
@redwanulsourav did you work on the issue already?

[2022-11-04 17:55] redwanulsourav commented on #523
@JohannesLichtenberger  I am still working on it, I ran into some issues while setting up the server with docker, I think I have an idea to figure it out. Can I have some more time please?

[2022-11-04 18:03] JohannesLichtenberger commented on #523
for sure, just went through some tickets/issues to ping the people if they made some progress :+1:

BTW: You can improve the documentation if you figured it out :-) currently, I'm mostly working on the core and didn't set up keycloak for some time now. That is usually I'm starting it via the standalone shell script ;)

[2022-11-05 04:47] Aditya31398 commented on #541
@JohannesLichtenberger, sorry for the delay. I did look into the keycloak documentation. I was thinking we could do something like the below code.
[code]
In order to get the list of users we have to connect to the server prior to running the command. This can be achieved using the config credentials command which is available in the kcadm.sh . The below command can be used for connecting to the se

[2022-11-05 09:03] sourabhkashyap95 commented on #536
@JohannesLichtenberger trying to run the tests changing the storage type but getting `can't load native library` as i have apple M1 machine.

[2022-11-05 09:10] JohannesLichtenberger commented on #536
Oh, I guess you'd need a recent Linux derivate. I've filed an issue with the library because of offset based writes: https://github.com/ikorennoy/jasyncfio/issues/68   I think there's a bug in the library

[2022-11-05 09:14] JohannesLichtenberger commented on #541
The script is copied into a startup folder of keycloak, so we might be able to simply copy your code:

[code]

[2022-11-11 00:36] JohannesLichtenberger commented on #512
@yeohbraddy any work in progress?

[2022-11-11 03:52] redwanulsourav commented on #523
@JohannesLichtenberger I really appreciate the opportunity and the support. I was able to fix the issues I faced while setting up the keycloak and sirix server using docker. I think the setting up the sirixdb part locally could be updated. Specially the part where keycloak configuration process is described.  I also made some changes to `docker-compose.yml`.

I would love to contribute in the docu

[2022-11-11 05:25] redwanulsourav opened #549 "Make sirix server wait untill keycloak is completely up and running when using docker compose"
The Sirix server depends on Keycloak for authentication. It takes a while for the Keycloak server to be up and running when using `docker compose`. The server throws exception trying to access Keycloak, and keeps on restarting. The server should not be started until Keycloak is completely up and running.

This is not specifically a bug, but it could be considered as an improvement.

[2022-11-11 08:19] #549 closed

[2022-11-11 17:46] JohannesLichtenberger commented on #549
Regarding Keycloak, I'm also not sure if we can switch to a newer version. I think at one point they more or less completely rewrote Keycloak for faster startup times? I'm not sure, though... will have to check.

[2022-11-11 17:55] JohannesLichtenberger commented on #523
Yes, I have to admit, that I simply downloaded Keycloak, then executed the startup shell script and used IntelliJ for starting/debugging the server...

[2022-11-12 11:06] JohannesLichtenberger opened #552 "Deletion of a database: Remove resources from buffer manager and storage revision cache"

[2022-11-12 11:59] #552 closed

[2022-11-14 16:16] JohannesLichtenberger opened #556 "String compression"
[FSST: Fast Random Access String Compression](https://www.vldb.org/pvldb/vol13/p2649-boncz.pdf)

[2022-11-14 17:02] JohannesLichtenberger commented on #528
Probably we should simply store the try intent log in a Chronicle map instead of a simple `HashMap`.

[2022-11-16 18:26] JohannesLichtenberger opened #558 "Investivate and fix bad I/O performance"
Write speed is only about 10MB/sec, which is rather low and doesn't saturate modern SSDs at all (not even HDDs) and SirixDB should be designed to take advantage of modern flash drive characteristics.

[2022-11-16 18:33] JohannesLichtenberger commented on #558
Main issue can for instance be seen in `JsonShredderTest::testChicago` with the following file: https://www.file-upload.net/download-15038251/cityofchicago.zip.html

[2022-11-16 18:44] JohannesLichtenberger commented on #558
Small part `vmstat -1` output while running the test via Gradle in IntelliJ:

[code]

[2022-11-16 19:26] JohannesLichtenberger commented on #558
@ikorennoy here's the bug regarding the bad I/O performance.

[2022-11-16 19:46] JohannesLichtenberger commented on #558
![Screenshot from 2022-11-16 20-45-14](https://user-images.githubusercontent.com/1202851/202279233-cd55e380-fe9f-419c-9f87-19379c7e804d.png)
![Screenshot from 2022-11-16 17-38-09](https://user-images.githubusercontent.com/1202851/202279259-250a2755-30a6-4066-b2fc-f92630e630a3.png)

[2022-11-16 19:49] JohannesLichtenberger commented on #558
YourKit Snapshots: [gradle-worker-classpath.zip](https://github.com/sirixdb/sirix/files/10025207/gradle-worker-classpath.zip)

[2022-11-16 19:50] JohannesLichtenberger commented on #558
![Screenshot from 2022-11-16 20-49-58](https://user-images.githubusercontent.com/1202851/202279993-20a69f32-9dd2-4b76-8877-591e1d36c634.png)

[2022-11-16 19:57] JohannesLichtenberger commented on #558
![Screenshot from 2022-11-16 20-51-24](https://user-images.githubusercontent.com/1202851/202280221-105ed88c-48d3-45c6-bd6b-3c0aa2f47df2.png)

[2022-11-16 21:27] JohannesLichtenberger commented on #556
Useable either as a replacement of the current dictionary encoding (used to store object field names or element names/attribute names) or simply for the text compression of string values.

[2022-11-16 21:51] AlvinKuruvilla commented on #556
I feel like the best way to implement this is to keep this as a separate library that we can then as add a dependency. I also found the original c++ code used in the [paper](https://github.com/cwida/fsst)

[2022-11-16 22:15] JohannesLichtenberger commented on #558
![Screenshot from 2022-11-16 23-02-01](https://user-images.githubusercontent.com/1202851/202304229-ba3d91bb-7e23-44d0-a71a-03d8ab1efdc9.png)

![Screenshot from 2022-11-16 23-10-48](https://user-images.githubusercontent.com/1202851/202305387-5e149d1e-7316-4df4-b977-a0ff22096ac5.png)

I believe GSON is already slow to parse the input file. Maybe it's the `FileReader` as it's the only instance that u

[2022-11-16 22:42] JohannesLichtenberger commented on #558
It might only be slow because of the Sirix code inserting nodes...

[code]

This reads and parses the file in approx 20 seconds on my machine, which is approx 190 mb/sec, which is okay, I guess.

[2022-11-21 18:54] JohannesLichtenberger opened #559 "LZ4 compression for page fragments not working"
We should investigate performance with LZ4 vs. Snappy (should be slightly better). However, the added LZ4 compressor somehow throws an IOException currently (which can be changed in `ResourceConfiguration` for the default).